@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>@ViewBag.Title </title>

    @Styles.Render("~/bundles/css")

    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/assets/css/cryptoon.style.min.css" rel="stylesheet" />

</head>
<body>


    <div id="cryptoon-layout" class="theme-orange">
        <div class="sidebar py-2 py-md-2 me-0 border-end">
            <div class="d-flex flex-column h-100">
                <!-- Logo -->
                <a href="/home/index" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <img src="/Index/wp-content/themes/ft/img/onlylogo.png" alt="Alternate Text" width="40px" />
                    </span>
                    <span class="logo-text"></span>
                </a>
                <!-- Menu: main ul -->
                <ul class="menu-list flex-grow-1 mt-4 px-1">
                    <li>
                        <a class="m-link" href="/dashboard/index">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 38 38">
                                <path xmlns="http://www.w3.org/2000/svg" d="M34,18.756V34H22v-8h-6v8h-4V14.31l7-3.89L34,18.756z M34,16.472V6h-6v7.139L34,16.472z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M34,14.19V6h-6v2h4v5.08L19,5.86L0.51,16.13l0.98,1.74L19,8.14l17.51,9.73l0.98-1.74L34,14.19z M32,32h-8v-8H14  v8H6V17.653l-2,1.111V34h12v-8h6v8h12V18.764l-2-1.111V32z"></path>
                            </svg>
                            <div><h6 class="mb-0">Dashboard</h6><small class="text-muted">User dashboard</small></div>
                        </a>
                    </li>
                    <li>
                        <a class="m-link" href="/crypto">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 64 64">

                                <path class="st1" d="M31.997,60C16.537,60,3.999,47.462,4,32.002C3.996,16.537,16.535,4,31.995,4C47.459,4,59.999,16.537,60,32
                       S47.461,60,31.997,60z M53.999,32c-0.001-12.149-9.857-22-22.005-22C19.85,10,9.995,19.851,9.999,32.002
                       C9.998,44.146,19.85,54,31.996,54C44.144,54,54,44.145,53.999,32L53.999,32z" />
                                <path class="st0" d="M47.282,27.597c0.638-4.258-2.604-6.547-7.038-8.074l1.438-5.768l-3.51-0.875l-1.4,5.616
                       c-0.924-0.23-1.871-0.447-2.813-0.662l1.409-5.653l-3.51-0.875l-1.439,5.767c-0.764-0.175-1.514-0.347-2.243-0.527l0.004-0.017
                       l-4.842-1.21l-0.934,3.75c0,0,2.606,0.597,2.55,0.635c1.423,0.354,1.679,1.296,1.636,2.042l-3.939,15.801
                       c-0.173,0.432-0.615,1.079-1.609,0.833c0.035,0.052-2.552-0.636-2.552-0.636l-1.743,4.019l4.569,1.14
                       c0.85,0.213,1.683,0.435,2.503,0.646l-1.453,5.833l3.507,0.876l1.438-5.774c0.958,0.262,1.888,0.5,2.799,0.727l-1.434,5.745
                       l3.51,0.876l1.454-5.824c4.734,0.896,10.564,0.461,12.384-4.739c1.517-4.325-1.217-7.469-3.226-8.515
                       C45.095,32.224,46.821,30.714,47.282,27.597L47.282,27.597z M39.26,38.847c-1.084,4.36-8.425,2.004-10.806,1.413l1.929-7.729
                       C32.761,33.124,40.395,34.3,39.26,38.847L39.26,38.847z M40.346,27.535c-0.989,3.966-7.1,1.951-9.083,1.458l1.748-7.011
                       C34.994,22.476,41.377,23.397,40.346,27.535z" />

                            </svg>
                            <div><h6 class="mb-0">Buy Crypto</h6><small class="text-muted">Crypto asset Exchange</small></div>
                        </a>
                    </li>
                    <li>
                        <a class="m-link" href="/currencies">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 38 38">
                                <path xmlns="http://www.w3.org/2000/svg" d="M20,25c0-1.698,0-6.334,0-11c0-4.418-1.582-8-6-8c-2.083,0-4.072,0.888-5.538,2.335  C5.708,11.053,4,14.826,4,19c0,8.284,6.716,15,15,15c2.736,0,5.294-0.745,7.503-2.025C22.87,31.719,20,28.698,20,25z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M15,11l-1,0.01c0,0,0,0,0-0.01H15z M22,0.24v2.04C29.95,3.69,36,10.65,36,19c0,4.17-1.52,8.01-4.03,10.97  l-0.02-0.02C30.68,31.22,28.93,32,27,32c-2.79,0-5.2-1.64-6.32-4H24l2-2h-5.92C20.02,25.67,20,25.34,20,25s0.02-0.67,0.08-1H28l2-2  h-9.32c1.12-2.36,3.53-4,6.32-4c1.93,0,3.68,0.78,4.95,2.05l1.41-1.41C31.73,17.01,29.48,16,27,16c-3.91,0-7.25,2.51-8.48,6H16v2  h2.06C18.02,24.33,18,24.66,18,25s0.02,0.67,0.06,1H16v2h2.52c1.23,3.48,4.56,5.99,8.46,6C24.6,35.28,21.88,36,19,36  C9.63,36,2,28.37,2,19c0-6.07,3.2-11.41,8-14.41V6.1C8.24,6.44,6,7.72,6,11c0,2.78,2.64,3.44,4.76,3.97C12.96,15.52,14,15.9,14,17  c0,2.82-2.5,2.99-2.99,3C10.5,19.99,8,19.82,8,17H6c0,3.28,2.24,4.56,4,4.9V24h2v-2.1c1.76-0.341,4-1.62,4-4.9  c0-2.78-2.64-3.44-4.76-3.97C9.04,12.48,8,12.1,8,11c0-2.82,2.5-2.99,3-3c2.81,0,2.99,2.48,3,3h2c0-1.57-0.86-4.42-4-4.91V3.52  C14.13,2.54,16.51,2,19,2c0.34,0,0.67,0.01,1,0.03V0.02C19.67,0.01,19.33,0,19,0C8.52,0,0,8.52,0,19c0,10.48,8.52,19,19,19  c10.48,0,19-8.52,19-19C38,9.54,31.06,1.68,22,0.24z"></path>
                            </svg>
                            <div><h6 class="mb-0">Buy Curencies</h6><small class="text-muted">Currencies Exchange</small></div>
                        </a>
                    </li>
                    <li>
                        <a class="m-link" href="/stock">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1"><path d="M906.3 583.4c-1.1 11-11.2 16.5-19.8 21.5-8 4.6-16 9.3-23.9 13.9-12.8 7.4-25.5 14.8-38.3 22.2-16 9.3-31.9 18.6-47.9 27.8-17.6 10.2-35.2 20.5-52.9 30.7-17.7 10.3-35.4 20.6-53.2 30.9-16.3 9.5-32.5 18.9-48.8 28.4-13.3 7.7-26.5 15.4-39.8 23.1-8.7 5-17.4 10.1-26.1 15.1-6.6 3.8-12.8 7.6-20.3 9.8-19.5 5.6-41.1 3.7-58.7-6.5-6.3-3.7-12.7-7.3-19-11-11.6-6.7-23.1-13.3-34.7-20-15.2-8.8-30.4-17.6-45.6-26.3-17.3-10-34.7-20-52-30-17.9-10.3-35.8-20.7-53.7-31-16.9-9.8-33.8-19.5-50.8-29.3l-43.2-24.9c-10.3-6-20.7-11.9-31-17.9-4.7-2.7-9.4-5.4-14.1-8.2-7.4-4.3-14.7-11.1-14.7-20.3 0 8.4 0 16.8-0.1 25.3 0 3-0.2 6.1 0 9.2 0.6 8.1 7 14.4 13.7 18.4 4.1 2.5 8.3 4.8 12.5 7.2 10.8 6.2 21.6 12.5 32.4 18.7 15.6 9 31.1 18 46.7 27 18.5 10.7 37.1 21.4 55.6 32.1 19.3 11.2 38.6 22.3 58 33.5 18.4 10.6 36.7 21.2 55.1 31.8 15.3 8.8 30.5 17.6 45.8 26.4 10.3 6 20.7 11.9 31 17.9 6 3.4 11.9 7.3 18.4 9.7 20.3 7.4 44.1 5.8 62.8-5.1 7.1-4.1 14.2-8.3 21.3-12.4 13.1-7.6 26.2-15.2 39.2-22.8 17.1-9.9 34.1-19.8 51.2-29.8 19.1-11.1 38.2-22.2 57.2-33.3l57.3-33.3c17.1-10 34.2-19.9 51.4-29.9 13.3-7.7 26.6-15.4 39.9-23.2 7.3-4.3 14.7-8.5 22-12.8 2.2-1.3 4.5-2.6 6.6-4.1 5.6-4.2 10-10 10.1-17.3 0.1-3.7 0-7.3 0-11 0-7.3 0-14.7 0.1-22 0.4 0.8 0.3 1.3 0.3 1.8-0.1 0.3 0-0.2 0 0z" fill="#7A9EFD" /><path d="M892 561.9c19 11 19.1 28.9 0.2 39.9L547.9 801.9c-18.9 11-49.8 11-68.8 0L132.3 601.8c-19-11-19.1-28.9-0.2-39.9l344.4-200.2c18.9-11 49.8-11 68.8 0L892 561.9z" fill="#E4ECF9" /><path d="M297.6 491.2c0-0.3 0.1-0.6 0.1-0.9 0-0.2 0.1-0.4 0.1-0.6 0-0.2 0.1-0.4 0.1-0.5 0.1-0.3 0.1-0.5 0.2-0.8 0-0.1 0.1-0.3 0.1-0.4l0.3-0.9c0-0.1 0.1-0.2 0.1-0.4 0.1-0.4 0.3-0.8 0.5-1.2 0 0 0-0.1 0.1-0.1 0.2-0.4 0.3-0.7 0.5-1 0.1-0.1 0.1-0.2 0.2-0.3 0.2-0.3 0.3-0.6 0.5-1 0-0.1 0.1-0.1 0.1-0.2 0.2-0.4 0.4-0.7 0.7-1.1 0.1-0.1 0.1-0.2 0.2-0.3 0.2-0.3 0.3-0.5 0.5-0.8 0.1-0.1 0.2-0.3 0.3-0.4 0.2-0.2 0.3-0.4 0.5-0.6 0.1-0.2 0.3-0.3 0.4-0.5 0.1-0.2 0.3-0.3 0.4-0.5 0.2-0.3 0.5-0.5 0.7-0.8l0.4-0.4c0.5-0.5 1-0.9 1.5-1.3 0.1-0.1 0.2-0.1 0.3-0.2 0.5-0.4 1.1-0.8 1.7-1.1 0.4-0.3 0.9-0.5 1.3-0.6 0.1-0.1 0.3-0.1 0.4-0.2 0.3-0.1 0.5-0.2 0.8-0.3 0.2 0 0.3-0.1 0.5-0.1 0.1 0 0.3-0.1 0.4-0.1 0.2 0 0.4-0.1 0.6-0.1h1.2c0.3 0 0.5 0.1 0.8 0.1h0.2c0.2 0 0.4 0.1 0.6 0.2 0.1 0 0.1 0 0.2 0.1 0.2 0.1 0.5 0.2 0.7 0.3l-14.8-8.6h-0.1c-0.2-0.1-0.4-0.2-0.5-0.3h-0.1c-0.1 0-0.1 0-0.2-0.1-0.1 0-0.2-0.1-0.3-0.1-0.1 0-0.2 0-0.3-0.1H299.2c-0.2 0-0.4-0.1-0.6-0.1h-1.5c-0.1 0-0.2 0-0.3 0.1-0.1 0-0.3 0.1-0.4 0.1-0.1 0-0.2 0-0.2 0.1-0.1 0-0.2 0.1-0.2 0.1-0.2 0.1-0.5 0.2-0.8 0.3-0.1 0-0.2 0.1-0.3 0.1 0 0-0.1 0.1-0.2 0.1-0.4 0.2-0.9 0.4-1.3 0.7-0.6 0.3-1.1 0.7-1.6 1.1-0.1 0.1-0.2 0.1-0.3 0.2-0.5 0.4-1 0.9-1.5 1.3l-0.1 0.1-0.2 0.2c-0.2 0.2-0.5 0.5-0.7 0.8l-0.2 0.2-0.2 0.2c-0.1 0.2-0.3 0.3-0.4 0.5l-0.3 0.3c-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.2 0.3-0.3 0.4-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.2-0.2 0.3-0.3 0.5-0.1 0.1-0.1 0.2-0.2 0.3l-0.1 0.1-0.6 0.9v0.1c0 0.1-0.1 0.1-0.1 0.2-0.1 0.2-0.2 0.4-0.4 0.7-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.1 0.2-0.2 0.3 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.5-0.3 0.8 0 0 0 0.1-0.1 0.1-0.1 0.3-0.3 0.6-0.4 1 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.4-0.1 0.2-0.1 0.3-0.2 0.5 0 0.1-0.1 0.3-0.1 0.4 0 0.1-0.1 0.3-0.1 0.4 0 0.1-0.1 0.2-0.1 0.3 0 0.2-0.1 0.3-0.1 0.5s-0.1 0.4-0.1 0.5v0.2c0 0.1 0 0.3-0.1 0.4-0.1 0.3-0.1 0.6-0.1 0.9v0.4c-0.1 0.6-0.1 1.3-0.1 1.9 0 3.4 1.2 5.8 3.1 6.9l14.8 8.6c-1.9-1.1-3.1-3.5-3.1-6.9 0-0.6 0-1.2 0.1-1.9-0.4-0.2-0.4-0.4-0.3-0.5z" fill="#ACC5EA" /><path d="M330.1 473.6c0.1 0 0.3-0.1 0.4-0.1 0.1 0 0.2-0.1 0.3-0.1 0.2 0 0.3-0.1 0.4-0.1h1c0.2 0 0.4 0 0.6 0.1h0.2c0.2 0 0.3 0.1 0.5 0.1 0 0 0.1 0 0.1 0.1l0.6 0.3-14.8-8.6c-0.1-0.1-0.3-0.1-0.4-0.2h-0.1s-0.1 0-0.1-0.1c-0.1 0-0.1-0.1-0.2-0.1s-0.2 0-0.2-0.1H318.1c-0.2 0-0.3 0-0.5-0.1h-1.3c-0.1 0-0.2 0-0.3 0.1h-0.2c-0.1 0-0.1 0-0.2 0.1-0.2 0.1-0.4 0.1-0.6 0.2-0.1 0-0.1 0-0.2 0.1 0 0-0.1 0-0.1 0.1-0.3 0.1-0.7 0.3-1 0.5l-9.4 5.4 14.8 8.6 9.4-5.4c0.4-0.2 0.7-0.4 1-0.5 0.1 0 0.2-0.1 0.3-0.1-0.1-0.1 0.1-0.1 0.3-0.2z" fill="#2A2ABC" /><path d="M300.5 500.5l-14.8-8.6h0.1l14.7 8.6" fill="#28289E" /><path d="M300.6 500.6l-14.8-8.6c0.2 0.1 0.4 0.2 0.5 0.3l14.8 8.6c-0.2-0.2-0.4-0.2-0.5-0.3" fill="#2929A3" /><path d="M301.1 500.8l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.2l14.8 8.6c-0.2 0-0.4-0.1-0.6-0.2" fill="#2A2AA8" /><path d="M301.7 501l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.1l14.8 8.6c-0.2 0-0.4 0-0.6-0.1" fill="#2C2CAD" /><path d="M302.3 501.2l-14.8-8.6c0.2 0 0.4 0.1 0.6 0.1l14.8 8.6c-0.2-0.1-0.4-0.1-0.6-0.1" fill="#2D2DB3" /><path d="M302.9 501.2l-14.8-8.6h0.7l14.8 8.6h-0.7" fill="#2E2EB8" /><path d="M303.6 501.2l-14.8-8.6c0.3 0 0.5 0 0.8-0.1l14.8 8.6c-0.3 0.1-0.5 0.1-0.8 0.1" fill="#2F2FBD" /><path d="M304.4 501.2l-14.8-8.6c0.3 0 0.6-0.1 0.9-0.2l14.8 8.6c-0.3 0-0.6 0.1-0.9 0.2" fill="#3131C2" /><path d="M305.3 501l-14.8-8.6c0.4-0.1 0.8-0.3 1.3-0.4l14.8 8.6c-0.4 0.1-0.8 0.2-1.3 0.4" fill="#3232C7" /><path d="M306.6 500.5l-14.8-8.6c0.5-0.2 1-0.5 1.5-0.7 1.3-0.7 2.5-1.7 3.6-2.8l14.8 8.6c-1.1 1.1-2.3 2-3.6 2.8-0.5 0.3-1 0.5-1.5 0.7" fill="#3333CC" /><path d="M311.7 497l-14.8-8.6 1.2-1.2 14.8 8.6-1.2 1.2" fill="#3232C7" /><path d="M312.9 495.8l-14.8-8.6c0.3-0.3 0.6-0.7 0.9-1.1l14.8 8.6c-0.4 0.4-0.7 0.7-0.9 1.1" fill="#3131C2" /><path d="M313.7 494.7l-14.8-8.6c0.2-0.3 0.5-0.6 0.7-1l14.8 8.6c-0.2 0.4-0.4 0.7-0.7 1" fill="#2F2FBD" /><path d="M314.4 493.7l-14.8-8.6 0.6-0.9 14.8 8.6c-0.1 0.3-0.4 0.6-0.6 0.9" fill="#2E2EB8" /><path d="M315.1 492.8l-14.8-8.6 0.6-0.9 14.8 8.6c-0.3 0.3-0.5 0.6-0.6 0.9" fill="#2D2DB3" /><path d="M315.6 491.9l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.2 0.3-0.3 0.6-0.5 0.9" fill="#2C2CAD" /><path d="M316.1 491l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.2 0.3-0.3 0.6-0.5 0.9" fill="#2A2AA8" /><path d="M316.6 490.1l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-0.9l14.8 8.6c-0.1 0.3-0.3 0.6-0.4 0.9" fill="#2929A3" /><path d="M317 489.2l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-1l14.8 8.6c-0.1 0.3-0.3 0.6-0.4 1" fill="#28289E" /><path d="M317.4 488.2l-14.8-8.6c0.1-0.3 0.3-0.7 0.4-1l14.8 8.6c-0.2 0.3-0.3 0.7-0.4 1" fill="#262699" /><path d="M317.7 487.2l-14.8-8.6c0.1-0.4 0.2-0.7 0.3-1.1l14.8 8.6c0 0.4-0.1 0.7-0.3 1.1" fill="#252594" /><path d="M318.1 486.1l-14.8-8.6 0.3-1.2 14.8 8.6-0.3 1.2" fill="#24248F" /><path d="M318.4 484.9l-14.8-8.6 0.3-1.5 14.8 8.6-0.3 1.5" fill="#23238A" /><path d="M318.6 483.4l-14.8-8.6c0.1-0.7 0.1-1.4 0.1-2.1 0-0.5 0-0.9-0.1-1.4l14.8 8.6c0 0.5 0.1 0.9 0.1 1.4 0.1 0.7 0 1.4-0.1 2.1" fill="#212185" /><path d="M282.6 483.6l-9.4 5.4c-0.5 0.3-1.1 0.7-1.6 1.1-0.2 0.1-0.3 0.3-0.5 0.4-0.2 0.2-0.5 0.4-0.7 0.6l-0.3 0.3-0.3 0.3-0.3 0.3c-0.2 0.3-0.5 0.5-0.7 0.8-0.1 0.1-0.2 0.2-0.2 0.3 0 0.1-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.2-0.2 0.3-0.2 0.2-0.3 0.5-0.5 0.7-0.2 0.2-0.3 0.5-0.4 0.7v0.2l-0.3 0.6c-0.1 0.2-0.2 0.5-0.4 0.7l-0.3 0.6c-0.1 0.3-0.2 0.5-0.3 0.8-0.1 0.3-0.2 0.5-0.3 0.8 0 0.1-0.1 0.3-0.1 0.4 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.6-0.2 1 0 0.2-0.1 0.4-0.1 0.6 0 0.1 0 0.2-0.1 0.3v0.3c-0.1 0.6-0.1 1.1-0.1 1.6l0.4 124.5c0 2.6 1 4.5 2.5 5.4l14.8 8.6c-1.5-0.9-2.5-2.7-2.5-5.4l-0.4-124.5c0-0.6 0.1-1.3 0.2-1.9 0-0.1 0-0.2 0.1-0.3 0.1-0.6 0.2-1.2 0.4-1.8 0-0.1 0-0.1 0.1-0.2 0.2-0.7 0.4-1.3 0.7-2 0.3-0.7 0.6-1.3 1-2v-0.1l1.2-1.8c0-0.1 0.1-0.1 0.1-0.2l1.2-1.5 0.3-0.3c0.3-0.4 0.7-0.7 1.1-1 0.2-0.1 0.3-0.3 0.5-0.4 0.5-0.4 1-0.8 1.6-1.1l9.4-5.4-15.1-8.4z" fill="#2A2ABC" /><path d="M328.1 474.5c4.6-2.7 8.4-0.5 8.5 4.8l0.4 124.5c0 5.3-3.8 11.9-8.4 14.5l-40.1 23.1c-4.6 2.7-8.4 0.5-8.5-4.8l-0.4-124.5c0-5.3 3.8-11.9 8.4-14.5l9.4-5.4c0 0.5-0.1 1-0.1 1.5 0 6.8 4.8 9.5 10.7 6.1 5.9-3.4 10.7-11.7 10.7-18.5 0-0.5 0-0.9-0.1-1.4l9.5-5.4z" fill="#4040FF" /><path d="M306.6 469.1l9.3 5.3-18.3 17.9-4-2.3 9.1-20.9z" fill="#ACC5EA" /><path d="M308.1 475c5.9-3.4 10.7-0.7 10.7 6.1s-4.8 15.1-10.7 18.5c-5.9 3.4-10.7 0.7-10.7-6.1s4.7-15 10.7-18.5z" fill="#FFFFFF" /><path d="M424.6 361.7c0.2-0.1 0.4-0.1 0.6-0.2 0.1 0 0.3-0.1 0.4-0.1 0.1 0 0.2-0.1 0.3-0.1 0.2 0 0.3-0.1 0.4-0.1h1c0.2 0 0.4 0 0.6 0.1h0.2c0.2 0 0.3 0.1 0.5 0.1 0 0 0.1 0 0.1 0.1l0.6 0.3-14.8-8.6c-0.1-0.1-0.3-0.1-0.4-0.2h-0.1s-0.1 0-0.1-0.1c-0.1 0-0.1-0.1-0.2-0.1s-0.2 0-0.2-0.1H413.2c-0.2 0-0.3 0-0.5-0.1h-1.3c-0.1 0-0.2 0-0.3 0.1h-0.2c-0.1 0-0.1 0-0.2 0.1-0.2 0.1-0.4 0.1-0.6 0.2-0.1 0-0.1 0-0.2 0.1 0 0-0.1 0-0.1 0.1-0.3 0.1-0.7 0.3-1 0.5l-9.3 5.4 14.8 8.6 9.3-5.4c0.4-0.2 0.7-0.4 1-0.5-0.2 0-0.1-0.1 0-0.1z" fill="#2A2ABC" /><path d="M395.6 387l-14.8-8.6h0.1l14.7 8.6c0.1 0 0.1 0 0 0" fill="#28289E" /><path d="M395.7 387l-14.8-8.6c0.2 0.1 0.4 0.2 0.5 0.3l14.8 8.6c-0.1-0.1-0.3-0.2-0.5-0.3" fill="#2929A3" /><path d="M396.2 387.3l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.2l14.8 8.6c-0.2-0.1-0.4-0.2-0.6-0.2" fill="#2A2AA8" /><path d="M396.8 387.5l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.1l14.8 8.6c-0.2 0-0.4-0.1-0.6-0.1" fill="#2C2CAD" /><path d="M397.4 387.6l-14.8-8.6c0.2 0 0.4 0.1 0.6 0.1l14.8 8.6c-0.2 0-0.4-0.1-0.6-0.1" fill="#2D2DB3" /><path d="M398.1 387.7l-14.8-8.6h0.7l14.8 8.6h-0.7" fill="#2E2EB8" /><path d="M398.8 387.7l-14.8-8.6c0.3 0 0.5 0 0.8-0.1l14.8 8.6c-0.3 0-0.6 0.1-0.8 0.1" fill="#2F2FBD" /><path d="M399.6 387.6l-14.8-8.6c0.3 0 0.6-0.1 0.9-0.2l14.8 8.6c-0.3 0.1-0.6 0.1-0.9 0.2" fill="#3131C2" /><path d="M400.5 387.4l-14.8-8.6c0.4-0.1 0.8-0.3 1.3-0.4l14.8 8.6c-0.5 0.1-0.9 0.3-1.3 0.4" fill="#3232C7" /><path d="M401.8 387l-14.8-8.6c0.5-0.2 1-0.5 1.5-0.7 1.3-0.7 2.5-1.7 3.6-2.8l14.8 8.6c-1.1 1.1-2.3 2-3.6 2.8-0.5 0.2-1 0.5-1.5 0.7" fill="#3333CC" /><path d="M406.8 383.4l-14.8-8.6 1.2-1.2 14.8 8.6c-0.4 0.4-0.8 0.9-1.2 1.2" fill="#3232C7" /><path d="M408 382.2l-14.8-8.6c0.3-0.3 0.6-0.7 0.9-1.1l14.8 8.6c-0.3 0.4-0.6 0.8-0.9 1.1" fill="#3131C2" /><path d="M408.9 381.1l-14.8-8.6c0.2-0.3 0.5-0.6 0.7-1l14.8 8.6c-0.2 0.4-0.5 0.7-0.7 1" fill="#2F2FBD" /><path d="M409.6 380.2l-14.8-8.6 0.6-0.9 14.8 8.6-0.6 0.9" fill="#2E2EB8" /><path d="M410.2 379.3l-14.8-8.6 0.6-0.9 14.8 8.6-0.6 0.9" fill="#2D2DB3" /><path d="M410.8 378.4l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.2 0.3-0.4 0.6-0.5 0.9" fill="#2C2CAD" /><path d="M411.3 377.5l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.2 0.2-0.4 0.6-0.5 0.9" fill="#2A2AA8" /><path d="M411.7 376.5l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-0.9l14.8 8.6c-0.1 0.3-0.2 0.6-0.4 0.9" fill="#2929A3" /><path d="M412.1 375.6l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-1l14.8 8.6c-0.1 0.4-0.2 0.7-0.4 1" fill="#28289E" /><path d="M412.5 374.6l-14.8-8.6c0.1-0.3 0.3-0.7 0.4-1l14.8 8.6c-0.1 0.4-0.2 0.7-0.4 1" fill="#262699" /><path d="M412.9 373.6l-14.8-8.6c0.1-0.4 0.2-0.7 0.3-1.1l14.8 8.6c-0.1 0.4-0.2 0.8-0.3 1.1" fill="#252594" /><path d="M413.2 372.5l-14.8-8.6 0.3-1.2 14.8 8.6-0.3 1.2" fill="#24248F" /><path d="M413.5 371.3l-14.8-8.6 0.3-1.5 14.8 8.6-0.3 1.5" fill="#23238A" /><path d="M413.8 369.8l-14.8-8.6c0.1-0.7 0.1-1.4 0.1-2.1l14.8 8.6c0 0.7 0 1.4-0.1 2.1" fill="#212185" /><path d="M377.7 371.5l-9.3 5.4c-0.5 0.3-1.1 0.7-1.6 1.1-0.2 0.1-0.3 0.3-0.5 0.4-0.2 0.2-0.5 0.4-0.7 0.6-0.1 0.1-0.2 0.2-0.3 0.4l-0.3 0.3-0.3 0.3c-0.2 0.3-0.5 0.5-0.7 0.8-0.1 0.1-0.2 0.2-0.2 0.3 0 0.1-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.2-0.2 0.3-0.2 0.2-0.3 0.5-0.5 0.7-0.2 0.2-0.3 0.5-0.4 0.7v0.2l-0.3 0.6c-0.1 0.2-0.2 0.5-0.4 0.7l-0.3 0.6c-0.1 0.3-0.2 0.5-0.3 0.8-0.1 0.3-0.2 0.5-0.3 0.8 0 0.1-0.1 0.3-0.1 0.4 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.6-0.2 1 0 0.2-0.1 0.4-0.1 0.6 0 0.1 0 0.2-0.1 0.3v0.3c-0.1 0.6-0.1 1.1-0.1 1.6l0.6 198.2c0 2.6 0.9 4.5 2.5 5.4l14.8 8.6c-1.5-0.9-2.5-2.7-2.5-5.4l-9.9-5.7 9.9 5.7-0.8-198.2c0-0.6 0.1-1.3 0.2-1.9 0-0.1 0-0.2 0.1-0.3 0.1-0.6 0.2-1.2 0.4-1.8 0-0.1 0-0.1 0.1-0.2 0.2-0.7 0.4-1.3 0.7-2 0.3-0.7 0.6-1.3 1-2v-0.1l1.2-1.8c0-0.1 0.1-0.1 0.1-0.2l1.2-1.5 0.3-0.3c0.3-0.4 0.7-0.7 1.1-1 0.2-0.1 0.3-0.3 0.5-0.4 0.5-0.4 1-0.8 1.6-1.1l9.3-5.4-14.9-8.5z" fill="#2A2ABC" /><path d="M423.3 362.3c4.6-2.7 8.4-0.5 8.5 4.8l0.6 198.2c0 5.3-3.8 11.9-8.4 14.5L383.8 603c-4.6 2.7-8.4 0.5-8.5-4.8l-0.5-198.2c0-5.3 3.8-11.9 8.4-14.5l9.3-5.4c0 6.8 4.8 9.5 10.7 6.1 5.9-3.4 10.7-11.7 10.7-18.5l9.4-5.4z" fill="#4040FF" /><path d="M398.6 358.7l9.6 5.4-13.9 17.1-7.9-4.7z" fill="#ACC5EA" /><path d="M403.1 361.3c5.9-3.4 10.7-0.7 10.7 6.1s-4.8 15.1-10.7 18.5c-5.9 3.4-10.7 0.7-10.7-6.1 0.1-6.8 4.8-15.1 10.7-18.5z" fill="#FFFFFF" /><path d="M395.9 352l-0.6-0.3h-0.1c-0.1 0-0.1 0-0.2-0.1-0.1 0-0.2-0.1-0.3-0.1-0.1 0-0.2 0-0.3-0.1H394.1c-0.2 0-0.4-0.1-0.6-0.1H392c-0.1 0-0.2 0-0.3 0.1-0.1 0-0.3 0.1-0.4 0.1-0.1 0-0.2 0-0.2 0.1-0.1 0-0.2 0.1-0.2 0.1-0.2 0.1-0.5 0.2-0.8 0.3-0.1 0-0.2 0.1-0.3 0.1 0 0-0.1 0.1-0.2 0.1-0.4 0.2-0.9 0.4-1.3 0.7-0.6 0.3-1.1 0.7-1.7 1.1-0.1 0.1-0.2 0.1-0.3 0.2-0.5 0.4-1 0.9-1.5 1.3l-0.1 0.1-0.2 0.2c-0.2 0.2-0.5 0.5-0.7 0.8l-0.2 0.2-0.2 0.2c-0.1 0.2-0.3 0.3-0.4 0.5l-0.3 0.3c-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.2 0.3-0.3 0.4-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.2-0.2 0.3-0.3 0.5-0.1 0.1-0.1 0.2-0.2 0.3l-0.1 0.1-0.6 0.9v0.1c0 0.1-0.1 0.1-0.1 0.2-0.1 0.2-0.2 0.4-0.4 0.6-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.1 0.2-0.2 0.3 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.5-0.3 0.8 0 0 0 0.1-0.1 0.1-0.1 0.3-0.3 0.6-0.4 1 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.4-0.1 0.2-0.1 0.3-0.2 0.5 0 0.1-0.1 0.3-0.1 0.4 0 0.1-0.1 0.3-0.1 0.4 0 0.1-0.1 0.2-0.1 0.3 0 0.2-0.1 0.3-0.1 0.5s-0.1 0.4-0.1 0.5v0.2c0 0.1 0 0.3-0.1 0.4-0.1 0.3-0.1 0.6-0.1 0.9v0.4c-0.1 0.6-0.1 1.3-0.1 1.9v0.3l14.8 8.6v-0.3c0-0.6 0-1.2 0.1-1.9 0-0.2 0-0.3 0.1-0.5 0-0.3 0.1-0.6 0.1-0.9 0-0.2 0.1-0.4 0.1-0.6 0-0.2 0.1-0.4 0.1-0.5 0.1-0.3 0.1-0.5 0.2-0.8 0-0.1 0.1-0.3 0.1-0.4l0.3-0.9c0-0.1 0.1-0.2 0.1-0.4 0.1-0.4 0.3-0.8 0.5-1.2 0 0 0-0.1 0.1-0.1 0.2-0.3 0.3-0.7 0.5-1 0.1-0.1 0.1-0.2 0.2-0.3 0.2-0.3 0.3-0.6 0.5-1 0-0.1 0.1-0.1 0.1-0.2 0.2-0.4 0.4-0.7 0.7-1.1 0.1-0.1 0.1-0.2 0.2-0.3 0.2-0.3 0.4-0.5 0.5-0.8 0.1-0.1 0.2-0.3 0.3-0.4 0.2-0.2 0.3-0.4 0.5-0.6 0.1-0.2 0.3-0.3 0.4-0.5 0.1-0.2 0.3-0.3 0.4-0.5 0.2-0.3 0.5-0.5 0.7-0.8l0.4-0.4c0.5-0.5 1-0.9 1.5-1.3 0.1-0.1 0.2-0.1 0.3-0.2 0.5-0.4 1.1-0.8 1.7-1.1 0.5-0.3 0.9-0.5 1.3-0.7 0.1-0.1 0.3-0.1 0.4-0.2 0.3-0.1 0.5-0.2 0.8-0.3 0.2 0 0.3-0.1 0.5-0.1 0.1 0 0.3-0.1 0.4-0.1 0.2 0 0.4-0.1 0.6-0.1h1.2c0.3 0 0.5 0.1 0.8 0.1h0.2c0.2 0 0.4 0.1 0.6 0.2 0.1 0 0.1 0 0.2 0.1 0.2 0.1 0.5 0.2 0.7 0.3l-15.1-8.4z" fill="#ACC5EA" /><path d="M520 368.5c0.2-0.1 0.4-0.1 0.6-0.2 0.1 0 0.3-0.1 0.4-0.1 0.1 0 0.2-0.1 0.3-0.1 0.2 0 0.3-0.1 0.4-0.1h0.9c0.2 0 0.4 0 0.6 0.1h0.2c0.2 0 0.3 0.1 0.5 0.1 0 0 0.1 0 0.1 0.1l0.6 0.3-14.8-8.6c-0.1-0.1-0.3-0.1-0.4-0.2h-0.1s-0.1 0-0.1-0.1c-0.1 0-0.1-0.1-0.2-0.1s-0.2 0-0.2-0.1H508.5c-0.2 0-0.3 0-0.5-0.1h-1.3c-0.1 0-0.2 0-0.3 0.1h-0.2c-0.1 0-0.1 0-0.2 0.1-0.2 0.1-0.4 0.1-0.6 0.2-0.1 0-0.1 0-0.2 0.1 0 0-0.1 0-0.1 0.1-0.3 0.1-0.7 0.3-1 0.5l-9.3 5.4 14.8 8.6 9.3-5.4c0.4-0.2 0.7-0.4 1-0.5-0.1 0 0 0 0.1-0.1z" fill="#2A2ABC" /><path d="M491 393.8l-14.8-8.6h0.1l14.7 8.6" fill="#28289E" /><path d="M491 393.8l-14.8-8.6c0.2 0.1 0.4 0.2 0.5 0.3l14.8 8.6c-0.1-0.1-0.3-0.2-0.5-0.3" fill="#2929A3" /><path d="M491.6 394.1l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.2l14.8 8.6c-0.3-0.1-0.4-0.2-0.6-0.2" fill="#2A2AA8" /><path d="M492.1 394.3l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.1l14.8 8.6c-0.2 0-0.4-0.1-0.6-0.1" fill="#2C2CAD" /><path d="M492.7 394.4l-14.8-8.6c0.2 0 0.4 0.1 0.6 0.1l14.8 8.6c-0.1 0-0.4-0.1-0.6-0.1" fill="#2D2DB3" /><path d="M493.4 394.5l-14.8-8.6h0.7l14.8 8.6h-0.7" fill="#2E2EB8" /><path d="M494.1 394.5l-14.8-8.6c0.3 0 0.5 0 0.8-0.1l14.8 8.6c-0.3 0-0.5 0.1-0.8 0.1" fill="#2F2FBD" /><path d="M494.9 394.4l-14.8-8.6c0.3 0 0.6-0.1 0.9-0.2l14.8 8.6c-0.3 0.1-0.6 0.2-0.9 0.2" fill="#3131C2" /><path d="M495.8 394.2l-14.8-8.6c0.4-0.1 0.8-0.3 1.3-0.4l14.8 8.6c-0.4 0.1-0.9 0.3-1.3 0.4" fill="#3232C7" /><path d="M497.1 393.8l-14.8-8.6c0.5-0.2 1-0.5 1.5-0.7 1.3-0.7 2.5-1.7 3.6-2.8l14.8 8.6c-1.1 1.1-2.3 2-3.6 2.8-0.5 0.2-1 0.5-1.5 0.7" fill="#3333CC" /><path d="M502.2 390.2l-14.8-8.6 1.2-1.2 14.8 8.6c-0.4 0.4-0.8 0.9-1.2 1.2" fill="#3232C7" /><path d="M503.3 389l-14.8-8.6c0.3-0.3 0.6-0.7 0.9-1.1l14.8 8.6c-0.3 0.4-0.6 0.8-0.9 1.1" fill="#3131C2" /><path d="M504.2 387.9l-14.8-8.6c0.2-0.3 0.5-0.6 0.7-1l14.8 8.6c-0.2 0.4-0.4 0.7-0.7 1" fill="#2F2FBD" /><path d="M504.9 387l-14.8-8.6 0.6-0.9 14.8 8.6-0.6 0.9" fill="#2E2EB8" /><path d="M505.5 386.1l-14.8-8.6 0.6-0.9 14.8 8.6-0.6 0.9" fill="#2D2DB3" /><path d="M506.1 385.1l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.2 0.3-0.3 0.6-0.5 0.9" fill="#2C2CAD" /><path d="M506.6 384.2l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.2 0.3-0.3 0.6-0.5 0.9" fill="#2A2AA8" /><path d="M507.1 383.3l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-0.9l14.8 8.6c-0.1 0.3-0.3 0.6-0.4 0.9" fill="#2929A3" /><path d="M507.5 382.4l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-1l14.8 8.6c-0.1 0.4-0.3 0.7-0.4 1" fill="#28289E" /><path d="M507.9 381.4l-14.8-8.6c0.1-0.3 0.2-0.7 0.4-1l14.8 8.6c-0.2 0.4-0.3 0.7-0.4 1" fill="#262699" /><path d="M508.2 380.4l-14.8-8.6c0.1-0.4 0.2-0.7 0.3-1.1l14.8 8.6c0 0.4-0.1 0.8-0.3 1.1" fill="#252594" /><path d="M508.6 379.3l-14.8-8.6 0.3-1.2 14.8 8.6-0.3 1.2" fill="#24248F" /><path d="M508.9 378.1l-14.8-8.6 0.3-1.5 14.8 8.6-0.3 1.5" fill="#23238A" /><path d="M509.1 376.6l-14.8-8.6c0.1-0.7 0.1-1.4 0.1-2.1l14.8 8.6c0.1 0.7 0 1.4-0.1 2.1" fill="#212185" /><path d="M458.2 550.4L473 559c-1.5-0.9-2.5-2.7-2.5-5.4l-14.8-8.6c0.1 2.7 1 4.6 2.5 5.4zM473 378.3l-9.3 5.4c-0.5 0.3-1.1 0.7-1.6 1.1-0.2 0.1-0.3 0.3-0.5 0.4-0.2 0.2-0.5 0.4-0.7 0.6-0.1 0.1-0.2 0.2-0.3 0.4l-0.3 0.3-0.3 0.3c-0.2 0.3-0.5 0.5-0.7 0.8-0.1 0.1-0.2 0.2-0.2 0.3 0 0.1-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.2-0.2 0.3-0.2 0.2-0.3 0.5-0.5 0.7-0.2 0.2-0.3 0.5-0.4 0.7v0.2l-0.3 0.6c-0.1 0.2-0.2 0.5-0.4 0.7-0.1 0.2-0.2 0.4-0.3 0.7-0.1 0.3-0.2 0.5-0.3 0.8-0.1 0.3-0.2 0.5-0.3 0.8 0 0.1-0.1 0.3-0.1 0.4 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.6-0.2 1 0 0.2-0.1 0.4-0.1 0.6 0 0.1 0 0.2-0.1 0.3v0.3c-0.1 0.6-0.1 1.1-0.1 1.6l0.4 146.8 14.8 8.6-0.4-146.8c0-0.6 0.1-1.3 0.2-1.9 0-0.1 0-0.2 0.1-0.3 0.1-0.6 0.2-1.2 0.4-1.8 0-0.1 0-0.1 0.1-0.2 0.2-0.7 0.4-1.3 0.7-2 0.3-0.7 0.6-1.3 1-2v-0.1l1.2-1.8c0-0.1 0.1-0.1 0.1-0.2l1.2-1.5 0.3-0.3c0.3-0.4 0.7-0.7 1.1-1 0.2-0.1 0.3-0.3 0.5-0.4 0.5-0.4 1-0.8 1.6-1.1l9.3-5.4-15.1-8.6z" fill="#2A2ABC" /><path d="M518.6 369.2c4.6-2.7 8.4-0.5 8.4 4.8l0.4 146.8c0 5.3-3.8 11.9-8.4 14.5l-40 23.2c-4.6 2.7-8.4 0.5-8.4-4.8l-0.4-146.8c0-5.3 3.8-11.9 8.4-14.5l9.3-5.4c0 6.8 4.8 9.5 10.7 6.1s10.7-11.7 10.7-18.5l9.3-5.4z" fill="#4040FF" /><path d="M498.6 368.4c5.9-3.4 10.7-0.7 10.7 6.1s-4.8 15.1-10.7 18.5-10.7 0.7-10.7-6.1 4.8-15.1 10.7-18.5z" fill="#FFFFFF" /><path d="M491.4 359.1l-0.6-0.3h-0.1c-0.1 0-0.1 0-0.2-0.1-0.1 0-0.2-0.1-0.3-0.1-0.1 0-0.2 0-0.3-0.1H489.6c-0.2 0-0.4-0.1-0.6-0.1h-1.5c-0.1 0-0.2 0-0.3 0.1-0.1 0-0.3 0.1-0.4 0.1-0.1 0-0.2 0-0.2 0.1-0.1 0-0.2 0.1-0.2 0.1-0.2 0.1-0.5 0.2-0.8 0.3-0.1 0-0.2 0.1-0.3 0.1 0 0-0.1 0.1-0.2 0.1-0.4 0.2-0.9 0.4-1.3 0.7-0.6 0.3-1.1 0.7-1.7 1.1-0.1 0.1-0.2 0.1-0.3 0.2-0.5 0.4-1 0.9-1.5 1.3l-0.1 0.1-0.2 0.2c-0.2 0.2-0.5 0.5-0.7 0.8-0.1 0.1-0.1 0.2-0.2 0.2l-0.2 0.2c-0.1 0.2-0.3 0.3-0.4 0.5l-0.3 0.3c-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.2 0.3-0.3 0.4-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.2-0.2 0.3-0.3 0.5-0.1 0.1-0.1 0.2-0.2 0.3l-0.1 0.1-0.6 0.9v0.1c0 0.1-0.1 0.1-0.1 0.2-0.1 0.2-0.2 0.4-0.4 0.7-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.1 0.2-0.2 0.3 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.5-0.4 0.8 0 0 0 0.1-0.1 0.1-0.1 0.3-0.3 0.6-0.4 1 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.4-0.1 0.2-0.1 0.3-0.2 0.5 0 0.1-0.1 0.2-0.1 0.4 0 0.1-0.1 0.3-0.1 0.4 0 0.1 0 0.2-0.1 0.3 0 0.2-0.1 0.3-0.1 0.5s-0.1 0.4-0.1 0.5v0.2c0 0.1-0.1 0.3-0.1 0.4-0.1 0.3-0.1 0.6-0.1 0.9v0.4c-0.1 0.6-0.1 1.3-0.1 1.9v0.2l14.8 8.4c0-0.6 0-1.2 0.1-1.8v-0.4c0-0.3 0.1-0.6 0.1-0.9 0-0.1 0-0.3 0.1-0.4v-0.2c0-0.2 0.1-0.4 0.1-0.5 0-0.2 0.1-0.3 0.1-0.5 0-0.1 0.1-0.2 0.1-0.3 0-0.1 0.1-0.3 0.1-0.4 0-0.1 0.1-0.3 0.1-0.4 0.1-0.2 0.1-0.3 0.2-0.5 0-0.1 0.1-0.2 0.1-0.4 0-0.1 0-0.1 0.1-0.2 0.1-0.3 0.3-0.6 0.4-1 0 0 0-0.1 0.1-0.1 0.1-0.3 0.2-0.5 0.3-0.8 0-0.1 0.1-0.2 0.1-0.3 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.2 0.2-0.4 0.4-0.7 0-0.1 0.1-0.1 0.1-0.2v-0.1l0.6-0.9 0.1-0.1c0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.2 0.2-0.3 0.3-0.5 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.1 0.2-0.3 0.3-0.4 0.1-0.1 0.1-0.2 0.2-0.3l0.3-0.3c0.1-0.2 0.3-0.3 0.4-0.5l0.2-0.2 0.2-0.2c0.2-0.3 0.5-0.5 0.7-0.8 0.1-0.1 0.1-0.2 0.2-0.2l0.1-0.1c0.5-0.5 1-0.9 1.5-1.3 0.1-0.1 0.2-0.1 0.3-0.2 0.5-0.4 1.1-0.8 1.7-1.1 0.5-0.3 0.9-0.5 1.3-0.7 0.1-0.1 0.3-0.1 0.4-0.2 0.3-0.1 0.5-0.2 0.8-0.3 0.2 0 0.3-0.1 0.5-0.1 0.1 0 0.3-0.1 0.4-0.1 0.2 0 0.4-0.1 0.6-0.1h1.2c0.3 0 0.5 0.1 0.8 0.1h0.2c0.2 0 0.4 0.1 0.6 0.2 0.1 0 0.1 0 0.2 0.1 0.2 0.1 0.5 0.2 0.7 0.3l-14.8-8.8z m14.8 8.6z" fill="#ACC5EA" /><path d="M615 189.2c0.2-0.1 0.4-0.1 0.6-0.2 0.1 0 0.3-0.1 0.4-0.1 0.1 0 0.2-0.1 0.3-0.1 0.2 0 0.3-0.1 0.4-0.1h1c0.2 0 0.4 0 0.6 0.1h0.2c0.2 0 0.3 0.1 0.5 0.1 0 0 0.1 0 0.1 0.1l0.6 0.3-14.8-8.6c-0.1-0.1-0.3-0.1-0.4-0.2h-0.1s-0.1 0-0.1-0.1c-0.1 0-0.1-0.1-0.2-0.1s-0.2 0-0.2-0.1H603.6c-0.2 0-0.3 0-0.5-0.1h-1.3c-0.1 0-0.2 0-0.3 0.1h-0.2c-0.1 0-0.1 0-0.2 0.1-0.2 0.1-0.4 0.1-0.6 0.2-0.1 0-0.1 0-0.2 0.1 0 0-0.1 0-0.1 0.1-0.3 0.1-0.7 0.3-1 0.5l-9.3 5.4 14.8 8.6 9.3-5.4c0.4-0.2 0.7-0.4 1-0.5-0.2 0-0.1-0.1 0-0.1z" fill="#2A2ABC" /><path d="M586 214.5l-14.8-8.6h0.1l14.7 8.6c0.1 0 0.1 0 0 0" fill="#28289E" /><path d="M586.1 214.5l-14.8-8.6c0.2 0.1 0.4 0.2 0.5 0.3l14.8 8.6c-0.2-0.1-0.3-0.2-0.5-0.3" fill="#2929A3" /><path d="M586.6 214.8l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.2l14.8 8.6c-0.2-0.1-0.4-0.2-0.6-0.2" fill="#2A2AA8" /><path d="M587.2 215l-14.8-8.6c0.2 0.1 0.4 0.1 0.6 0.1l14.8 8.6c-0.2 0-0.4-0.1-0.6-0.1" fill="#2C2CAD" /><path d="M587.8 215.1l-14.8-8.6c0.2 0 0.4 0.1 0.6 0.1l14.8 8.6c-0.2 0-0.4-0.1-0.6-0.1" fill="#2D2DB3" /><path d="M588.4 215.2l-14.8-8.6h0.7l14.8 8.6h-0.7" fill="#2E2EB8" /><path d="M589.2 215.2l-14.8-8.6c0.3 0 0.5 0 0.8-0.1l14.8 8.6c-0.3 0-0.6 0.1-0.8 0.1" fill="#2F2FBD" /><path d="M590 215.1l-14.8-8.6c0.3 0 0.6-0.1 0.9-0.2l14.8 8.6c-0.3 0.1-0.6 0.2-0.9 0.2" fill="#3131C2" /><path d="M590.9 214.9l-14.8-8.6c0.4-0.1 0.8-0.3 1.3-0.4l14.8 8.6c-0.5 0.2-0.9 0.3-1.3 0.4" fill="#3232C7" /><path d="M592.2 214.5l-14.8-8.6c0.5-0.2 1-0.5 1.5-0.7 1.3-0.7 2.5-1.7 3.6-2.8l14.8 8.6c-1.1 1.1-2.3 2-3.6 2.8-0.6 0.2-1.1 0.5-1.5 0.7" fill="#3333CC" /><path d="M597.2 211l-14.8-8.6 1.2-1.2 14.8 8.6-1.2 1.2" fill="#3232C7" /><path d="M598.4 209.7l-14.8-8.6c0.3-0.3 0.6-0.7 0.9-1.1l14.8 8.6c-0.3 0.4-0.6 0.8-0.9 1.1" fill="#3131C2" /><path d="M599.3 208.7l-14.8-8.6c0.2-0.3 0.5-0.6 0.7-1l14.8 8.6c-0.3 0.3-0.5 0.6-0.7 1" fill="#2F2FBD" /><path d="M600 207.7l-14.8-8.6 0.6-0.9 14.8 8.6-0.6 0.9" fill="#2E2EB8" /><path d="M600.6 206.8l-14.8-8.6 0.6-0.9 14.8 8.6-0.6 0.9" fill="#2D2DB3" /><path d="M601.1 205.9l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.1 0.3-0.3 0.6-0.5 0.9" fill="#2C2CAD" /><path d="M601.6 205l-14.8-8.6c0.2-0.3 0.3-0.6 0.5-0.9l14.8 8.6c-0.1 0.3-0.3 0.6-0.5 0.9" fill="#2A2AA8" /><path d="M602.1 204.1l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-0.9l14.8 8.6c-0.1 0.2-0.2 0.5-0.4 0.9" fill="#2929A3" /><path d="M602.5 203.1l-14.8-8.6c0.1-0.3 0.3-0.6 0.4-1l14.8 8.6c-0.1 0.4-0.2 0.7-0.4 1" fill="#28289E" /><path d="M602.9 202.2l-14.8-8.6c0.1-0.3 0.3-0.7 0.4-1l14.8 8.6c-0.1 0.3-0.2 0.6-0.4 1" fill="#262699" /><path d="M603.3 201.1l-14.8-8.6c0.1-0.4 0.2-0.7 0.3-1.1l14.8 8.6c-0.1 0.4-0.2 0.8-0.3 1.1" fill="#252594" /><path d="M603.6 200.1l-14.8-8.6 0.3-1.2 14.8 8.6c-0.1 0.3-0.2 0.7-0.3 1.2" fill="#24248F" /><path d="M603.9 198.8l-14.8-8.6 0.3-1.5 14.8 8.6-0.3 1.5" fill="#23238A" /><path d="M604.2 197.3l-14.8-8.6c0.1-0.7 0.1-1.4 0.1-2.1l14.8 8.6c0 0.7 0 1.4-0.1 2.1" fill="#212185" /><path d="M553.7 497.7l14.8 8.6c-1.5-0.9-2.5-2.7-2.5-5.4l-14.8-8.6c0 2.7 1 4.6 2.5 5.4z" fill="#2A2ABC" /><path d="M568.2 199l-9.3 5.4c-0.5 0.3-1.1 0.7-1.6 1.1-0.2 0.1-0.3 0.3-0.5 0.4-0.2 0.2-0.5 0.4-0.7 0.6l-0.3 0.3-0.3 0.3-0.3 0.3c-0.2 0.3-0.5 0.5-0.7 0.8-0.1 0.1-0.2 0.2-0.2 0.3 0 0.1-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.2-0.2 0.3-0.2 0.2-0.3 0.5-0.5 0.7-0.2 0.2-0.3 0.5-0.4 0.7v0.2l-0.3 0.6c-0.1 0.2-0.2 0.5-0.4 0.7l-0.3 0.6c-0.1 0.3-0.2 0.5-0.3 0.8-0.1 0.3-0.2 0.5-0.3 0.8 0 0.1-0.1 0.3-0.1 0.4 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.6-0.2 1 0 0.2-0.1 0.4-0.1 0.6 0 0.1 0 0.2-0.1 0.3v0.3c-0.1 0.6-0.1 1.1-0.1 1.6l0.8 273.4L566 501l-0.8-273.4c0-0.6 0.1-1.3 0.2-1.9 0-0.1 0-0.2 0.1-0.3 0.1-0.6 0.2-1.2 0.4-1.8 0-0.1 0-0.1 0.1-0.2 0.2-0.7 0.4-1.3 0.7-2 0.3-0.7 0.6-1.3 1-2v-0.1l1.2-1.8c0-0.1 0.1-0.1 0.1-0.2l1.2-1.5 0.3-0.3c0.3-0.4 0.7-0.7 1.1-1 0.2-0.1 0.3-0.3 0.5-0.4 0.5-0.4 1-0.8 1.6-1.1l9.3-5.4-14.8-8.6z" fill="#2A2ABC" /><path d="M613.6 189.9c4.6-2.7 8.4-0.5 8.5 4.8l0.8 273.4c0 5.3-3.8 11.9-8.4 14.5l-40.1 23.1c-4.6 2.7-8.4 0.5-8.5-4.8l-0.8-273.4c0-5.3 3.8-11.9 8.4-14.5l9.3-5.4c0 6.8 4.8 9.5 10.7 6.1 5.9-3.4 10.7-11.7 10.7-18.5l9.4-5.3z" fill="#4040FF" /><path d="M593.7 189.1c5.9-3.4 10.7-0.7 10.7 6.1s-4.8 15.1-10.7 18.5-10.7 0.7-10.7-6.1 4.8-15.1 10.7-18.5z" fill="#FFFFFF" /><path d="M586.5 179.8l-0.6-0.3h-0.1c-0.1 0-0.1 0-0.2-0.1-0.1 0-0.2-0.1-0.3-0.1-0.1 0-0.2 0-0.3-0.1H584.7c-0.2 0-0.4-0.1-0.6-0.1h-1.5c-0.1 0-0.2 0-0.3 0.1-0.1 0-0.3 0.1-0.4 0.1-0.1 0-0.2 0-0.2 0.1-0.1 0-0.2 0.1-0.2 0.1-0.2 0.1-0.5 0.2-0.8 0.3-0.1 0-0.2 0.1-0.3 0.1-0.1 0-0.1 0.1-0.2 0.1-0.4 0.2-0.9 0.4-1.3 0.7-0.6 0.3-1.1 0.7-1.7 1.1-0.1 0.1-0.2 0.1-0.3 0.2-0.5 0.4-1 0.9-1.5 1.3l-0.1 0.1-0.2 0.2c-0.2 0.2-0.5 0.5-0.7 0.8-0.1 0.1-0.1 0.2-0.2 0.2l-0.2 0.2c-0.1 0.2-0.3 0.3-0.4 0.5l-0.3 0.3c-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.2 0.3-0.3 0.4-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.2-0.2 0.3-0.3 0.5-0.1 0.1-0.1 0.2-0.2 0.3l-0.1 0.1-0.6 0.9v0.1c0 0.1-0.1 0.1-0.1 0.2-0.1 0.2-0.2 0.4-0.4 0.7-0.1 0.1-0.1 0.2-0.2 0.3-0.1 0.1-0.1 0.2-0.2 0.3 0 0.1-0.1 0.2-0.1 0.3-0.1 0.3-0.2 0.5-0.4 0.8 0 0 0 0.1-0.1 0.1-0.1 0.3-0.3 0.6-0.4 1 0 0.1 0 0.1-0.1 0.2 0 0.1-0.1 0.2-0.1 0.3-0.1 0.2-0.1 0.3-0.2 0.5 0 0.1-0.1 0.2-0.1 0.4 0 0.1-0.1 0.3-0.1 0.4 0 0.1 0 0.2-0.1 0.3 0 0.2-0.1 0.3-0.1 0.5s-0.1 0.4-0.1 0.5v0.2c0 0.1-0.1 0.3-0.1 0.4-0.1 0.3-0.1 0.6-0.1 0.9v0.4c-0.1 0.6-0.1 1.2-0.1 1.8l14.8 8.8v-0.1c0-0.6 0-1.2 0.1-1.9v-0.4c0-0.3 0.1-0.6 0.1-0.9 0-0.1 0-0.3 0.1-0.4v-0.2c0-0.2 0.1-0.4 0.1-0.5 0-0.2 0.1-0.3 0.1-0.5 0-0.1 0.1-0.2 0.1-0.3 0-0.1 0.1-0.3 0.1-0.4 0-0.1 0.1-0.3 0.1-0.4 0.1-0.2 0.1-0.3 0.2-0.5 0-0.1 0.1-0.2 0.1-0.3 0-0.1 0-0.1 0.1-0.2 0.1-0.3 0.3-0.6 0.4-1 0 0 0-0.1 0.1-0.1 0.1-0.3 0.2-0.5 0.3-0.8 0-0.1 0.1-0.2 0.1-0.3 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.2 0.2-0.4 0.4-0.7 0-0.1 0.1-0.1 0.1-0.2v-0.1l0.6-0.9 0.1-0.1c0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.2 0.2-0.3 0.3-0.5 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.1 0.2-0.3 0.3-0.4 0.1-0.1 0.1-0.2 0.2-0.3l0.3-0.3c0.1-0.2 0.3-0.3 0.4-0.5l0.2-0.2 0.2-0.2c0.2-0.3 0.5-0.5 0.7-0.8l0.2-0.2 0.1-0.1c0.5-0.5 1-0.9 1.5-1.3 0.1-0.1 0.2-0.1 0.3-0.2 0.5-0.4 1.1-0.8 1.7-1.1 0.5-0.3 0.9-0.5 1.3-0.7 0.1-0.1 0.3-0.1 0.4-0.2 0.3-0.1 0.5-0.2 0.8-0.3 0.2 0 0.3-0.1 0.5-0.1 0.1 0 0.3-0.1 0.4-0.1 0.2 0 0.4-0.1 0.6-0.1h1.2c0.3 0 0.5 0.1 0.8 0.1h0.2c0.2 0 0.4 0.1 0.6 0.2 0.1 0 0.1 0 0.2 0.1 0.2 0.1 0.5 0.2 0.7 0.3l-14.8-8.7z" fill="#ACC5EA" /><path d="M568.2 198.9c0 0.1 0 0.1 0 0 0 0.1 0 0.1 0 0z" fill="#FFFFFF" /><path d="M719.2 434.3c-0.1 0-0.1 0 0 0-0.3-0.2-0.5-0.3-0.8-0.4h-0.1c-0.1 0-0.2-0.1-0.2-0.1-0.1 0-0.2-0.1-0.4-0.1-0.1 0-0.3-0.1-0.4-0.1-0.1 0-0.2 0-0.2-0.1h-0.1c-0.3 0-0.5-0.1-0.8-0.1h-1.9c-0.1 0-0.2 0.1-0.3 0.1-0.2 0-0.4 0.1-0.6 0.1-0.1 0-0.2 0-0.3 0.1-0.1 0-0.2 0.1-0.3 0.1-0.3 0.1-0.6 0.2-1 0.3-0.1 0-0.2 0.1-0.3 0.1-0.1 0-0.1 0.1-0.2 0.1-0.6 0.2-1.1 0.5-1.7 0.8L569.7 516c-0.7 0.4-1.4 0.9-2.1 1.4-0.1 0.1-0.2 0.2-0.4 0.3-0.7 0.5-1.3 1.1-1.9 1.7-0.1 0.1-0.1 0.1-0.2 0.1l-0.3 0.3c-0.3 0.3-0.6 0.6-0.9 1l-0.3 0.3c-0.1 0.1-0.1 0.2-0.2 0.3-0.2 0.2-0.4 0.4-0.5 0.6-0.1 0.1-0.2 0.3-0.3 0.4-0.1 0.1-0.2 0.2-0.3 0.4-0.1 0.2-0.3 0.3-0.4 0.5-0.1 0.1-0.2 0.2-0.3 0.4-0.1 0.2-0.3 0.4-0.4 0.6-0.1 0.1-0.2 0.3-0.3 0.4 0 0.1-0.1 0.1-0.1 0.2-0.2 0.4-0.5 0.8-0.7 1.1v0.1c0 0.1-0.1 0.2-0.1 0.2-0.2 0.3-0.3 0.6-0.5 0.8-0.1 0.1-0.1 0.3-0.2 0.4-0.1 0.1-0.1 0.3-0.2 0.4-0.1 0.1-0.1 0.2-0.2 0.4-0.2 0.3-0.3 0.6-0.4 0.9 0 0.1-0.1 0.1-0.1 0.2-0.2 0.4-0.3 0.8-0.5 1.2 0 0.1-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.3-0.2 0.4-0.1 0.2-0.2 0.4-0.2 0.6-0.1 0.2-0.1 0.3-0.1 0.5-0.1 0.2-0.1 0.4-0.2 0.6 0 0.1-0.1 0.2-0.1 0.4-0.1 0.2-0.1 0.4-0.2 0.6-0.1 0.2-0.1 0.5-0.2 0.7 0 0.1 0 0.2-0.1 0.2 0 0.2-0.1 0.3-0.1 0.5-0.1 0.4-0.1 0.7-0.2 1.1 0 0.1 0 0.2-0.1 0.3v0.3c-0.1 0.8-0.2 1.6-0.2 2.4l0.3 93.3c0 3.2 0.9 5.7 2.3 7.3 0.5 0.5 1 1 1.6 1.4l14.8 8.6c-2.4-1.4-3.9-4.4-4-8.7l0.1-93.3c0-0.8 0.1-1.6 0.2-2.4 0-0.2 0-0.4 0.1-0.6 0.1-0.4 0.1-0.7 0.2-1.1 0-0.2 0.1-0.5 0.1-0.7 0.1-0.2 0.1-0.5 0.2-0.7 0.1-0.3 0.2-0.6 0.3-1 0.1-0.2 0.1-0.4 0.2-0.6 0.1-0.4 0.2-0.7 0.4-1.1 0.1-0.1 0.1-0.3 0.2-0.4l0.6-1.5c0-0.1 0.1-0.1 0.1-0.2 0.2-0.4 0.4-0.9 0.6-1.3 0.1-0.1 0.1-0.3 0.2-0.4 0.2-0.4 0.4-0.8 0.7-1.2 0-0.1 0.1-0.2 0.1-0.2 0.3-0.5 0.6-0.9 0.9-1.4 0.1-0.1 0.2-0.3 0.3-0.4 0.2-0.3 0.4-0.6 0.7-1 0.1-0.2 0.2-0.3 0.4-0.5 0.2-0.3 0.4-0.5 0.6-0.8 0.2-0.2 0.3-0.4 0.5-0.6 0.2-0.2 0.3-0.4 0.5-0.6 0.3-0.3 0.6-0.7 0.9-1 0.1-0.2 0.3-0.3 0.4-0.4 0.6-0.6 1.3-1.2 1.9-1.7 0.1-0.1 0.2-0.2 0.4-0.3 0.7-0.5 1.4-1 2.1-1.4l139.9-80.7c0.6-0.3 1.1-0.6 1.7-0.8 0.2-0.1 0.4-0.1 0.5-0.2 0.3-0.1 0.6-0.2 1-0.3 0.2-0.1 0.4-0.1 0.6-0.2 0.2 0 0.4-0.1 0.6-0.1 0.2 0 0.5-0.1 0.7-0.1h1.5c0.3 0 0.7 0.1 1 0.1 0.1 0 0.2 0 0.2 0.1 0.3 0.1 0.5 0.1 0.7 0.2 0.1 0 0.2 0.1 0.2 0.1 0.3 0.1 0.6 0.3 0.9 0.4l-15.1-8.7z" fill="#C68620" /><path d="M724.3 443.8c7.5-4.3 13.6-0.9 13.6 7.7l0.3 93.3c0 8.6-6 19.1-13.5 23.4l-139.9 80.7c-7.5 4.3-13.6 0.8-13.6-7.7L571 548c0-8.6 6-19.1 13.5-23.4l139.8-80.8z" fill="#FFCD2E" /><path d="M692.1 531.1l-10.4-6c-0.1-0.1-0.2-0.1-0.3-0.3l10.4 6c0.1 0.2 0.2 0.3 0.3 0.3" fill="#674611" /><path d="M688.7 526.5l-10.4-6 3.2 4.3 10.4 6.1z" fill="#E8CFAC" /><path d="M691.3 491.1c1.4-0.8 2.3 0.4 1.6 2.2l-9.4 24.3c-0.3 0.9-1 1.6-1.6 2-0.6 0.4-1.2 0.4-1.6-0.1l-3.1-4.4-28.2 35.2c-0.5 0.6-1.1 1.1-1.6 1.5-1.1 0.6-2.2 0.6-2.8-0.2l-8-11.2-28.1 35c-0.5 0.6-1.1 1.1-1.6 1.5-1.1 0.7-2.2 0.6-2.8-0.2-0.9-1.3-0.4-3.9 1.2-5.8l30.9-38.5c0.5-0.6 1.1-1.1 1.6-1.5 1.1-0.7 2.2-0.6 2.8 0.2l8 11.2 25.4-31.7-3.1-4.4c-0.7-1 0.2-3.2 1.5-4l18.9-11.1z" fill="#C68620" /><path d="M649.6 547.6l10.4 6 25.4-31.7-3.1-4.4-10.4-6 3.1 4.3z" fill="#E8CFAC" /><path d="M704 502.4l-5.3-3.1-5.1-3h-1.1c-0.1 0-0.2 0.1-0.3 0.1l-18.9 11c-0.2 0.1-0.4 0.3-0.6 0.4l-0.2 0.2-0.1 0.1c0 0.1-0.1 0.1-0.1 0.2s-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.2v0.1c0 0.1-0.1 0.1-0.1 0.2s0 0.1-0.1 0.2c0 0.1 0 0.1-0.1 0.2 0 0.1 0 0.1-0.1 0.2 0 0.1 0 0.1-0.1 0.2 0 0.1 0 0.1-0.1 0.2v0.9c0 0.2 0.1 0.4 0.2 0.5l10.4 6c-0.1-0.1-0.2-0.3-0.2-0.5v-1c0.1-0.4 0.2-0.8 0.4-1.1 0.1-0.2 0.2-0.4 0.3-0.5 0.1-0.1 0.2-0.3 0.4-0.4 0.2-0.2 0.4-0.3 0.6-0.4l18.9-11c0.1-0.1 0.2-0.1 0.3-0.2h0.1c0.1 0 0.2-0.1 0.3-0.1h0.3c0.4 0.2 0.5 0.2 0.5 0.2 0.1 0 0.1 0 0 0z m-48 60.5l-8-11.2-10.4-6 8 11.2c0.1 0.2 0.3 0.4 0.5 0.5l10.4 6c-0.2-0.1-0.3-0.3-0.5-0.5z" fill="#E8CFAC" /><path d="M641 535.9c-0.1 0-0.1-0.1-0.2-0.1s-0.1 0-0.2-0.1h-0.7c-0.1 0-0.2 0-0.3 0.1 0 0-0.1 0-0.1 0.1h-0.2c-0.2 0.1-0.3 0.1-0.5 0.2s-0.5 0.3-0.7 0.5l-0.2 0.2-0.2 0.2-0.4 0.4-0.2 0.2-30.9 38.5 10.4 6 30.9-38.5c0.2-0.3 0.5-0.5 0.7-0.8l0.2-0.2c0.2-0.2 0.5-0.4 0.7-0.5l0.6-0.3h0.1c0.2-0.1 0.4-0.1 0.5-0.1h0.5c0.2 0 0.3 0.1 0.5 0.2l-10.3-6z" fill="#E8CFAC" /><path d="M605.9 576.5c-0.1 0.1-0.1 0.2-0.2 0.3v0.1c0 0.1-0.1 0.1-0.1 0.2-0.1 0.1-0.1 0.2-0.2 0.3 0 0.1-0.1 0.2-0.1 0.3 0 0.1-0.1 0.1-0.1 0.2s-0.1 0.2-0.1 0.3c0 0.1-0.1 0.2-0.1 0.3 0 0.1-0.1 0.2-0.1 0.3 0 0.1-0.1 0.3-0.1 0.4v0.1c0 0.1 0 0.2-0.1 0.3v1.3c0.1 0.3 0.2 0.7 0.4 0.9 0.1 0.2 0.3 0.4 0.5 0.5l10.4 6c-0.2-0.1-0.4-0.3-0.5-0.5-0.2-0.3-0.3-0.6-0.4-0.9v-0.1c-0.1-0.3-0.1-0.7 0-1.1 0-0.1 0-0.3 0.1-0.4v-0.1c0.1-0.3 0.1-0.5 0.2-0.8 0.1-0.3 0.2-0.5 0.3-0.8 0.1-0.3 0.3-0.5 0.4-0.8 0.2-0.3 0.3-0.5 0.5-0.7l-10.4-6-0.1 0.1c-0.1 0.1-0.1 0.2-0.2 0.3z" fill="#E8CFAC" /><path d="M702.8 502.6c1.4-0.8 2.3 0.4 1.6 2.2L695 529c-0.3 0.9-1 1.6-1.6 2-0.6 0.4-1.2 0.4-1.6-0.1l-3.1-4.4-28.3 35.2c-0.5 0.6-1.1 1.1-1.6 1.5-1.1 0.7-2.2 0.6-2.8-0.2l-8-11.2-28.1 35c-0.5 0.6-1.1 1.1-1.6 1.5-1.1 0.7-2.2 0.6-2.8-0.2-0.9-1.3-0.4-3.9 1.2-5.8l30.9-38.5c0.5-0.6 1.1-1.1 1.6-1.5 1.1-0.7 2.2-0.6 2.8 0.2l8 11.2 25.4-31.7-3.1-4.4c-0.7-1 0.2-3.2 1.5-4l19-11z" fill="#FFFFFF" /></svg>
                            <div><h6 class="mb-0">Buy Stock</h6><small class="text-muted">Trade in Stock</small></div>
                        </a>
                    </li>

                    <li>
                        <a class="m-link" href="/dashboard/deposit">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 64 64">

                                <path class="st1" d="M15,24c-3.86,0-7,2.691-7,6v20c0,3.309,3.14,6,7,6h41V32H15c-1.598,0-3-0.935-3-2s1.402-2,3-2h5.25
                                                c0,0,1-5,5.75-5s6,5,6,5h22v-4H15z"></path>
                                <path class="st0" d="M42,4c-4.418,0-8,3.582-8,8s3.582,8,8,8c4.417,0,8-3.582,8-8S46.417,4,42,4z M42,16c-2.208,0-4-1.792-4-4
                                                s1.792-4,4-4s4,1.792,4,4S44.208,16,42,16z"></path>
                                <path class="st0" d="M26,20c-4.418,0-8,3.582-8,8h4c0-2.208,1.792-4,4-4s4,1.792,4,4h4C34,23.582,30.418,20,26,20z"></path>

                            </svg>                            <div><h6 class="mb-0">Deposit</h6><small class="text-muted">Stock asset Exchange</small></div>
                        </a>
                    </li>

                    <li>
                        <a class="m-link" href="/dashboard/withdrawal">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" id="Capa_1" width="25px" height="25px" viewBox="0 0 124.953 124.953" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M101.597,90.602v4.693c3.883,0,7.041-3.158,7.041-7.041v-8.763c0-3.884-3.158-7.042-7.041-7.042H27.113    c-3.883,0-7.041,3.158-7.041,7.042v8.763c0,3.883,3.158,7.041,7.041,7.041v-4.693c-1.294,0-2.347-1.054-2.347-2.348v-8.763    c0-1.294,1.053-2.347,2.347-2.347h74.483c1.294,0,2.347,1.053,2.347,2.347v8.763C103.943,89.548,102.891,90.602,101.597,90.602z" />
                            <path d="M112.079,0H12.874c-4.4,0-7.98,3.58-7.98,7.98v99.206c0,4.4,3.58,7.98,7.98,7.98h14.005v-4.07v-1.498v-1.004H12.874    c-0.777,0-1.409-0.632-1.409-1.408V7.981c0-0.777,0.632-1.409,1.409-1.409h99.206c0.777,0,1.41,0.632,1.41,1.409v99.207    c0,0.776-0.633,1.408-1.41,1.408h-10.248v1.004v1.498v4.07h10.248c4.4,0,7.98-3.58,7.98-7.98V7.981    C120.06,3.581,116.479,0,112.079,0z" />
                            <rect x="19.29" y="16.9" width="71.042" height="42.249" />
                            <rect x="95.023" y="16.9" width="11.267" height="11.266" />
                            <rect x="95.023" y="32.391" width="11.267" height="11.266" />
                            <rect x="95.023" y="47.882" width="11.267" height="11.266" />
                            <path d="M28.755,110.863h71.197V82.305H28.755V110.863z M32.742,89.271c2.607-0.418,4.693-1.928,5.424-3.887h52.908    c0.68,1.824,2.538,3.256,4.896,3.783v14.833c-2.356,0.526-4.214,1.958-4.896,3.78H38.167c-0.731-1.959-2.817-3.475-5.425-3.891    V89.271z" />
                            <ellipse cx="64.354" cy="96.583" rx="9.83" ry="9.708" />
                            <path d="M91.073,114.699H38.167c-0.213-0.571-0.554-1.098-0.977-1.578h-8.434v4.66h71.197v-4.66h-7.899    C91.628,113.6,91.288,114.127,91.073,114.699z" />
                            <path d="M91.073,121.872H38.167c-0.213-0.571-0.554-1.099-0.977-1.579h-8.434v4.66h71.197v-4.66h-7.899    C91.628,120.771,91.288,121.301,91.073,121.872z" />
	                        </g>
                            </g>
                            </svg>
                            <div><h6 class="mb-0">Withdraw</h6><small class="text-muted">Withdraw you money</small></div>
                        </a>
                    </li>

                    <li>
                        <a class="m-link" href="/dashboard/discoveries">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 64 64">

                                <linearGradient id="crp_svg" gradientUnits="userSpaceOnUse" x1="13.876" y1="13.876" x2="50.1249" y2="50.1249">
                                    <stop offset="0" class="st2" />
                                    <stop offset="1" class="st3" />
                                </linearGradient>
                                <polygon class="st1" points="50,34 50,30 39.465,30 55.517,20.732 53.518,17.269 37.464,26.537 42.732,17.412 39.268,15.412
                                        34,24.536 34,6 30,6 30,24.536 24.732,15.412 21.268,17.413 26.536,26.536 10.483,17.268 8.483,20.732 24.535,30 14,30 14,34
                                        24.537,34 8.483,43.269 10.483,46.732 26.536,37.465 21.268,46.589 24.732,48.589 30,39.464 30,58 34,58 34,39.465 39.268,48.589
                                        42.732,46.589 37.465,37.465 53.517,46.732 55.517,43.269 39.463,34 	" />
                                <path class="st0" d="M50,36c-2.209,0-4-1.791-4-4s1.791-4,4-4s4,1.791,4,4S52.209,36,50,36z M36,6c0,2.209-1.791,4-4,4
                                        s-4-1.791-4-4s1.791-4,4-4S36,3.791,36,6z M36,58c0,2.209-1.791,4-4,4s-4-1.791-4-4s1.791-4,4-4S36,55.791,36,58z M18,32
                                        c0-2.209-1.791-4-4-4s-4,1.791-4,4s1.791,4,4,4S18,34.209,18,32z M44.464,18.412c-1.104,1.913-3.552,2.568-5.464,1.464
                                        c-1.914-1.104-2.568-3.551-1.465-5.464c1.105-1.913,3.551-2.569,5.465-1.464C44.912,14.052,45.568,16.499,44.464,18.412z
                                        M11.483,15.536c1.913,1.104,2.569,3.551,1.464,5.464s-3.551,2.568-5.464,1.464S4.915,18.914,6.02,17S9.57,14.432,11.483,15.536z
                                        M56.517,41.536c1.913,1.104,2.568,3.551,1.464,5.464s-3.551,2.569-5.464,1.465S49.948,44.913,51.053,43
                                        S54.604,40.432,56.517,41.536z M25,44.124c-1.913-1.104-4.36-0.448-5.465,1.464c-1.104,1.913-0.448,4.36,1.465,5.465
                                        s4.359,0.448,5.464-1.465C27.568,47.676,26.913,45.229,25,44.124z M26.464,14.412c1.104,1.913,0.448,4.36-1.465,5.464
                                        s-4.359,0.449-5.464-1.464s-0.449-4.359,1.464-5.464S25.359,12.499,26.464,14.412z M7.483,41.536
                                        c1.913-1.104,4.36-0.449,5.465,1.464s0.448,4.36-1.465,5.465C9.571,49.569,7.125,48.913,6.02,47S5.57,42.641,7.483,41.536z
                                        M52.517,15.536c1.913-1.104,4.359-0.449,5.464,1.464s0.45,4.36-1.463,5.464s-4.36,0.448-5.465-1.465S50.604,16.641,52.517,15.536z
                                        M39,44.124c-1.914,1.104-2.568,3.552-1.465,5.465s3.552,2.568,5.465,1.464s2.568-3.552,1.463-5.465
                                        C43.359,43.676,40.912,43.02,39,44.124z M38,32c0,3.313-2.687,6-6,6s-6-2.687-6-6s2.687-6,6-6S38,28.687,38,32z" />

                            </svg>
                            <div><h6 class="mb-0">Discovery</h6><small class="text-muted">Market News</small></div>
                        </a>
                    </li>
                    <li>
                        <a class="m-link" href="/tradings">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 64 64">

                                <path class="st1" d="M20,57.921c-0.37,0-0.741-0.096-1.072-0.288L6.071,50.206C5.408,49.823,5,49.116,5,48.352V33.506
                                        c0-0.765,0.409-1.473,1.071-1.856l12.857-7.422c0.663-0.383,1.479-0.383,2.143,0l12.856,7.422C34.592,32.033,35,32.741,35,33.506
                                        v14.846c0,0.765-0.408,1.472-1.072,1.854l-12.856,7.427C20.741,57.825,20.37,57.921,20,57.921z M11,46.125l9,5.198l9-5.198V35.732
                                        l-9-5.194l-9,5.194V46.125z M44,57.919c-0.371,0-0.739-0.096-1.072-0.287L30.071,50.21C29.409,49.827,29,49.12,29,48.352V33.508
                                        c0-0.765,0.408-1.473,1.071-1.856l12.857-7.427c0.664-0.383,1.48-0.383,2.145,0l12.855,7.427C58.592,32.035,59,32.743,59,33.508
                                        v14.844c0,0.769-0.408,1.476-1.072,1.858l-12.855,7.422C44.739,57.823,44.371,57.919,44,57.919z M35,46.125l9,5.196l9-5.196V35.732
                                        l-9-5.198l-9,5.198V46.125z M32,37.135c-0.371,0-0.739-0.096-1.072-0.287l-12.856-7.422C17.409,29.042,17,28.335,17,27.567V12.724
                                        c0-0.766,0.408-1.474,1.071-1.856L30.928,3.44c0.664-0.383,1.48-0.383,2.145,0l12.855,7.427C46.592,11.25,47,11.958,47,12.724
                                        v14.844c0,0.768-0.408,1.475-1.072,1.858l-12.855,7.422C32.739,37.039,32.371,37.135,32,37.135z M23,25.341l9,5.196l9-5.196V14.948
                                        L32,9.75l-9,5.198V25.341z" />
                                <path class="st0" d="M31.997,51.321l-13.926-8.046C17.408,42.893,17,42.184,17,41.419V25.341l13.929-8.044
                                        c0.663-0.383,1.479-0.383,2.144,0L47,25.339v16.08c0,0.765-0.408,1.474-1.072,1.856L31.997,51.321z M23,39.195l9,5.198l9-5.198
                                        V28.802l-9-5.194l-9,5.194V39.195z" />

                            </svg>
                            <div><h6 class="mb-0">Trading Hisory</h6><small class="text-muted">Trading History BUY/SELL</small></div>
                        </a>
                    </li>
                    <li>
                        <a class="m-link" href="/tradings/deposit">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 64 64">

                                <path class="st0" d="M21.972,34.25c0-4.906,3.495-8.992,8.13-9.912l-3.492-7.764L14.317,40.282l8.673-1.635
                                        C22.345,37.315,21.972,35.828,21.972,34.25z M41.17,38.647l8.673,1.635L37.55,16.574l-3.491,7.764
                                        c4.635,0.92,8.129,5.006,8.129,9.912C42.188,35.828,41.815,37.315,41.17,38.647z M32.08,26.968c-3.875,0-7.016,3.141-7.016,7.016
                                        c0,3.874,3.141,7.016,7.016,7.016c3.875,0,7.018-3.142,7.018-7.016C39.098,30.109,35.955,26.968,32.08,26.968z" />

                                <path class="st1" d="M60.001,32c0.001,15.461-12.539,28-28.003,28C16.538,60,4,47.462,4.001,32.002C3.997,16.537,16.536,4,31.996,4
                                        C47.46,4,60,16.537,60.001,32L60.001,32z M54.001,32C54,19.851,44.144,10,31.996,10c-12.145,0-21.999,9.85-21.995,22.001
                                        C10,44.146,19.852,54,31.998,54C44.146,54,54.002,44.145,54.001,32L54.001,32z" />

                            </svg>
                            <div><h6 class="mb-0">Deposit History</h6><small class="text-muted">See All Deposit Requests</small></div>
                        </a>
                    </li>
                    <li>
                        <a class="m-link" href="/tradings/withdrawal">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 64 64">

                                <path class="st1" d="M28,52h8v4h-8V52z M16,56h8v-4h-8V56z M4,36v8h4v-8H4z M4,48v8h8v-4H8v-4H4z M4,24v8h4v-8H4z M36,8h-8v4h8V8z
                                            M48,8h-8v4h8V8z M60,28v-8h-4v8H60z M60,16V8h-8v4h4v4H60z M60,40v-8h-4v8H60z" />
                                <path class="st0" d="M30,28H6c-1.104,0-2-0.896-2-2V10c0-1.104,0.896-2,2-2h24c1.104,0,2,0.896,2,2v16C32,27.104,31.104,28,30,28z
                                            M8,24h20V12H8V24z M22,28c-0.843,0-7.157,0-8,0c-1.104,0-2,0.896-2,2s0.896,2,2,2c0.843,0,7.157,0,8,0c1.104,0,2-0.896,2-2
                                        S23.104,28,22,28z M58,56H34c-1.104,0-2-0.896-2-2V38c0-1.104,0.896-2,2-2h24c1.104,0,2,0.896,2,2v16C60,55.104,59.104,56,58,56z
                                            M36,52h20V40H36V52z M50,56c-0.844,0-7.157,0-8,0c-1.104,0-2,0.896-2,2s0.896,2,2,2c0.843,0,7.156,0,8,0c1.104,0,2-0.896,2-2
                                        S51.104,56,50,56z" />

                            </svg>
                            <div><h6 class="mb-0">Withdrawal History</h6><small class="text-muted">See All Withdraw Requests</small></div>
                        </a>
                    </li>
                    <!-- admin: menu collepce btn -->

                    @if (User.IsInRole("ROLE_ADMIN"))
                    {
                    <li class="divider mt-4 py-2 border-top text-uppercase"><small>Administrator Menu</small></li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#form" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="20px" viewBox="0 0 32 32">
                                <path d="M2,0v32h28V0H2z M28,30H4V2h24V30z" style="fill:var(--primary-color);"></path>
                                <path d="M19,8V4H6v10h20V8H19z M8,6h9v2H8V6z M24,12H8v-2h16V12z" style="fill:var(--svg-color);"></path>
                                <path d="M19,20v-4H6v10h20v-6H19z M8,18h9v2H8V18z M24,24H8v-2h16V24z" style="fill:var(--svg-color);"></path>
                            </svg>
                            <div><h6 class="mb-0">Admin Menu</h6><small class="text-muted">Click here</small></div> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="form">
                            <li><a class="ms-link" href="/requests/index">Deposit Requests</a></li>
                            <li><a class="ms-link" href="/withdrawals/index">Withdraw Requests</a></li>

                            <li><a class="ms-link" href="/promocodes/index">Promocode List</a></li>
                            <li><a class="ms-link" href="/aspnetusers/index">User List</a></li>



                        </ul>
                    </li>





                    }


                    <!-- admin: menu collepce btn -->


                </ul>
                <!-- Menu: menu collepce btn -->
                <button type="button" class="btn btn-link sidebar-mini-btn text-muted">
                    <span><i class="icofont-bubble-right"></i></span>
                </button>
            </div>
        </div>
        <!-- Menu: menu collepce btn -->        <!-- Menu: menu collepce btn -->        <!-- Menu: menu collepce btn -->        <!-- Menu: menu collepce btn -->
        <div class="main px-lg-4 px-md-4">
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">



                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                    <img class="avatar lg rounded-circle img-thumbnail" src="~/assets/images/profile_av.svg" alt="profile">
                                </a>
                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                    <div class="card border-0 w280">
                                        <div class="card-body pb-0">
                                            <div class="d-flex py-1">
                                                <img class="avatar rounded-circle" src="~/assets/images/profile_av.svg" alt="profile">
                                                <div class="flex-fill ms-3">
                                                    <p class="mb-0"><span class="font-weight-bold">@ViewBag.Firstname @ViewBag.Lastname</span></p>
                                                    <small class="">@User.Identity.Name</small>
                                                </div>
                                            </div>

                                            <div><hr class="dropdown-divider border-dark"></div>
                                        </div>
                                        <div class="list-group m-2 ">
                                            <a href="/manage/changepassword" class="list-group-item list-group-item-action border-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 38 38" class="me-3">
                                                    <path xmlns="http://www.w3.org/2000/svg" d="M36.15,38H1.85l0.16-1.14c0.92-6.471,3.33-7.46,6.65-8.83c0.43-0.17,0.87-0.36,1.34-0.561  c0.19-0.08,0.38-0.17,0.58-0.26c1.32-0.61,2.14-1.05,2.64-1.45c0.18,0.48,0.47,1.13,0.93,1.78C15.03,28.78,16.53,30,19,30  c2.47,0,3.97-1.22,4.85-2.46c0.46-0.65,0.75-1.3,0.931-1.78c0.5,0.4,1.319,0.84,2.64,1.45c0.2,0.09,0.39,0.17,0.58,0.26  c0.47,0.2,0.91,0.391,1.34,0.561c3.32,1.37,5.73,2.359,6.65,8.83L36.15,38z M20,13v4h-2v-4H20z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                                    <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M21.67,17.34C21.22,18.27,20.29,19,19,19s-2.22-0.73-2.67-1.66l-1.79,0.891C15.31,19.78,16.88,21,19,21  s3.69-1.22,4.46-2.77L21.67,17.34z M15,10.85c-0.61,0-1.1,0.38-1.1,1.65s0.49,1.65,1.1,1.65s1.1-0.38,1.1-1.65S15.61,10.85,15,10.85  z M23,10.85c-0.61,0-1.1,0.38-1.1,1.65s0.489,1.65,1.1,1.65s1.1-0.38,1.1-1.65S23.61,10.85,23,10.85z M35.99,36.86  c-0.92-6.471-3.33-7.46-6.65-8.83c-0.43-0.17-0.87-0.36-1.34-0.561c-0.19-0.09-0.38-0.17-0.58-0.26c-1.32-0.61-2.14-1.05-2.64-1.45  c-0.521-0.42-0.7-0.8-0.761-1.29C26.55,22.74,28,19.8,28,17V4.56l-1.18,0.21C26.1,4.91,25.58,5,25.05,5  c-1.439,0-2.37-0.24-3.35-0.49C20.71,4.26,19.68,4,18.21,4c-1.54,0-2.94,0.69-3.83,1.9l1.61,1.18C16.5,6.39,17.31,6,18.21,6  c1.22,0,2.08,0.22,3,0.45C22.22,6.71,23.36,7,25.05,7c0.32,0,0.63-0.02,0.95-0.06V17c0,3.44-2.62,7-7,7s-7-3.56-7-7V6.29  C12.23,5.59,13.61,2,18.21,2c1.61,0,2.76,0.28,3.88,0.55C23.06,2.78,23.98,3,25.05,3C26.12,3,27.19,2.74,28,2.47V0.34  C27.34,0.61,26.17,1,25.05,1c-0.83,0-1.6-0.18-2.49-0.4C21.38,0.32,20.05,0,18.21,0c-5.24,0-7.64,3.86-8.18,5.89L10,17  c0,2.8,1.45,5.74,3.98,7.47c-0.06,0.49-0.24,0.87-0.76,1.29c-0.5,0.4-1.32,0.84-2.64,1.45c-0.2,0.09-0.39,0.18-0.58,0.26  c-0.47,0.2-0.91,0.391-1.34,0.561c-3.32,1.37-5.73,2.359-6.65,8.83L1.85,38h34.3L35.99,36.86z M4.18,36c0.81-4.3,2.28-4.9,5.24-6.12  c0.62-0.25,1.29-0.53,2-0.86c1.09-0.5,2.01-0.949,2.73-1.479c0.8-0.56,1.36-1.22,1.64-2.12C16.76,25.78,17.83,26,19,26  s2.24-0.22,3.21-0.58c0.28,0.9,0.84,1.561,1.64,2.12c0.721,0.53,1.641,0.979,2.73,1.479c0.71,0.33,1.38,0.61,2,0.86  c2.96,1.22,4.43,1.83,5.24,6.12H4.18z"></path>
                                                </svg>Profile Page
                                            </a>

                                            <a href="/manage/changepassword" class="list-group-item list-group-item-action border-0 ">
                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 32 32" class="me-3">
                                                    <path xmlns="http://www.w3.org/2000/svg" d="M15.5,27.482C5.677,24.8,4.625,10.371,4.513,7.497C11.326,7.402,14.5,5.443,15.5,4.661  c0.999,0.782,4.174,2.742,10.986,2.836C26.375,10.371,25.323,24.8,15.5,27.482z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                                    <path xmlns="http://www.w3.org/2000/svg" class="st2" d="M14.13,21.5c-0.801,0-1.553-0.311-2.116-0.873c-0.57-0.57-0.883-1.327-0.881-2.132  c0.001-0.8,0.314-1.55,0.879-2.11c0.555-0.563,1.297-0.876,2.093-0.885c0.131-0.001,0.256-0.054,0.348-0.146l4.63-4.63  c0.388-0.38,0.879-0.583,1.416-0.583s1.028,0.203,1.42,0.587c0.373,0.373,0.58,0.875,0.58,1.413c0,0.531-0.207,1.03-0.584,1.406  l-4.64,4.641c-0.094,0.095-0.146,0.222-0.146,0.354c0,0.782-0.311,1.522-0.873,2.087C15.693,21.189,14.938,21.5,14.13,21.5z"></path>
                                                    <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M15.5,4c0,0-2.875,3-11.5,3c0,0,0,18,11.5,21C27,25,27,7,27,7C18.375,7,15.5,4,15.5,4z M15.5,26.984  C6.567,24.43,5.217,11.608,5.015,7.965C11.052,7.797,14.213,6.15,15.5,5.251c1.287,0.899,4.448,2.545,10.484,2.713  C25.782,11.608,24.434,24.43,15.5,26.984z M22.27,10.37c-0.479-0.47-1.1-0.73-1.77-0.73s-1.29,0.261-1.77,0.73L14.1,15  c-0.92,0.01-1.79,0.37-2.44,1.03c-1.37,1.358-1.37,3.579,0,4.95c0.66,0.66,1.54,1.02,2.47,1.02c0.94,0,1.82-0.359,2.479-1.02  c0.66-0.66,1.021-1.53,1.021-2.44l4.64-4.64C22.74,13.43,23,12.81,23,12.14C23,11.47,22.74,10.84,22.27,10.37z M21.561,13.2  l-4.949,4.95c0.1,0.75-0.13,1.539-0.71,2.119C15.41,20.76,14.77,21,14.13,21c-0.64,0-1.28-0.24-1.76-0.73  c-0.98-0.979-0.98-2.56,0-3.539c0.49-0.489,1.12-0.729,1.76-0.729c0.12,0,0.24,0.01,0.36,0.03l4.949-4.95  c0.291-0.3,0.681-0.44,1.061-0.44s0.77,0.141,1.061,0.44C22.15,11.66,22.15,12.61,21.561,13.2z M19.79,12.14l0.71,0.7l-5.02,5.021  c0.27,0.56,0.18,1.238-0.29,1.699c-0.58,0.59-1.53,0.59-2.12,0c-0.58-0.58-0.58-1.529,0-2.119c0.47-0.461,1.16-0.562,1.71-0.291  L19.79,12.14z M16,11H9v-1h7V11z M14,13H9v-1h5V13z"></path>
                                                </svg>Security
                                            </a>

                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="list-group-item list-group-item-action border-0 ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" class="me-3">
                                                        <rect xmlns="http://www.w3.org/2000/svg" class="st0" width="24" height="24" style="fill:none;;" fill="none"></rect>
                                                        <path xmlns="http://www.w3.org/2000/svg" d="M20,4c0-1.104-0.896-2-2-2H6C4.896,2,4,2.896,4,4v16c0,1.104,0.896,2,2,2h12  c1.104,0,2-0.896,2-2V4z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                                        <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M15,6.81v2.56c0.62,0.7,1,1.62,1,2.63c0,2.21-1.79,4-4,4s-4-1.79-4-4c0-1.01,0.38-1.93,1-2.63V6.81  C7.21,7.84,6,9.78,6,12c0,3.31,2.69,6,6,6c3.31,0,6-2.69,6-6C18,9.78,16.79,7.84,15,6.81z M13,6.09C12.68,6.03,12.34,6,12,6  s-0.68,0.03-1,0.09V12h2V6.09z"></path>
                                                    </svg>Signout
                                                </a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (currentController.Equals("Dashboard", StringComparison.OrdinalIgnoreCase) &&
                            (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
                            {
                                <div class="setting ms-2">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#Settingmodal">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 38 38">
                                            <path d="M19,28c-4.964,0-9-4.04-9-9c0-4.964,4.036-9,9-9c4.96,0,9,4.036,9,9  C28,23.96,23.96,28,19,28z M19,16c-1.654,0-3,1.346-3,3s1.346,3,3,3s3-1.346,3-3S20.654,16,19,16z" style="fill:var(--primary-color);" data-st="fill:var(--chart-color4);"></path>
                                            <path class="st0" d="M19,24c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S21.757,24,19,24z M19,16c-1.654,0-3,1.346-3,3  s1.346,3,3,3s3-1.346,3-3S20.654,16,19,16z M32,19c0-1.408-0.232-2.763-0.648-4.034l3.737-1.548l-0.766-1.848l-3.743,1.551  c-1.25-2.452-3.251-4.452-5.702-5.701l1.551-3.744l-1.848-0.765l-1.548,3.737C21.762,6.232,20.409,6,19,6  c-1.409,0-2.756,0.248-4.026,0.668l-1.556-3.756L11.57,3.677l2.316,5.592C15.416,8.462,17.154,8,19,8c6.065,0,11,4.935,11,11  s-4.935,11-11,11S8,25.065,8,19c0-3.031,1.232-5.779,3.222-7.771L9.808,9.816c-0.962,0.963-1.764,2.082-2.388,3.306l-3.744-1.551  l-0.765,1.847l3.738,1.548C6.232,16.238,6,17.592,6,19c0,1.409,0.232,2.763,0.648,4.034l-3.737,1.548l0.766,1.848l3.744-1.551  c1.25,2.451,3.25,4.451,5.701,5.7l-1.551,3.744l1.848,0.766l1.548-3.737C16.237,31.768,17.591,32,19,32s2.762-0.232,4.033-0.648  l1.549,3.737l1.848-0.766l-1.552-3.743c2.451-1.25,4.451-3.25,5.701-5.701l3.744,1.551l0.765-1.848l-3.736-1.548  C31.768,21.763,32,20.409,32,19z"></path>
                                        </svg>
                                    </a>
                                </div>
                            }
                            </div>
                           

                        <!-- menu toggler -->
                        <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>

                        <!-- main menu Search-->

                        @if (currentController.Equals("Crypto", StringComparison.OrdinalIgnoreCase) &&
                                (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
                        {



                            <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 d-flex align-items-center">
                                <a class="menu-toggle-option me-3 text-primary d-flex align-items-center" href="#" title="Menu Option">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--chart-color1)" class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                                        <path style="fill:var(--chart-color1)" d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z" />
                                    </svg>
                                </a>
                                <div id="searchcryptoform" class="main-search border-start px-3 flex-fill">
                                    <input type="text" id="search-abc123" class="form-control" placeholder="Search cryptocurrency name">
                                    <div id="dropdown-abc123" class="dropdown-list-abc123"></div>
                                </div>


                            </div>





                        }
                        @if (currentController.Equals("stock", StringComparison.OrdinalIgnoreCase) &&
                        (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
                        {



                            <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 d-flex align-items-center">
                                <a class="menu-toggle-option me-3 text-primary d-flex align-items-center" href="#" title="Menu Option">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--chart-color1)" class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                                        <path style="fill:var(--chart-color1)" d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z" />
                                    </svg>
                                </a>
                                <div id="searchforstock" class="main-search border-start px-3 flex-fill">
                                    <input type="text" id="search-abc123" class="form-control" placeholder="Search stock name ">
                                    <div id="dropdown-abc123" class="dropdown-list-abc123"></div>
                                </div>


                            </div>


                        }
                        @if (currentController.Equals("currencies", StringComparison.OrdinalIgnoreCase) &&
                        (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
                        {



                            <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 d-flex align-items-center">
                                <a class="menu-toggle-option me-3 text-primary d-flex align-items-center" href="#" title="Menu Option">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--chart-color1)" class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                                        <path style="fill:var(--chart-color1)" d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z" />
                                    </svg>
                                </a>
                                <div id="currenciessearch" class="main-search border-start px-3 flex-fill">
                                    <input type="text" id="search-abc123" class="form-control" placeholder="Search currency name ">
                                    <div id="dropdown-abc123" class="dropdown-list-abc123"></div>
                                </div>


                            </div>


                        }
                        @if (currentController.Equals("currencies", StringComparison.OrdinalIgnoreCase).Equals(false) && currentController.Equals("Crypto", StringComparison.OrdinalIgnoreCase).Equals(false) && currentController.Equals("stock", StringComparison.OrdinalIgnoreCase).Equals(false))
                        {
                            <div class="order-0 col-lg-11 align-items-center" style="height:50px !important">

                                        <div class="tradingview-widget-container" >
                                            <div class="tradingview-widget-container__widget"></div>
                                            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                                                {
                                                    "symbols": [
                                                    {
                                                        "proName": "FOREXCOM:SPXUSD",
                                                        "title": "S&P 500"
                                                    },
                                                    {
                                                        "proName": "FOREXCOM:NSXUSD",
                                                        "title": "US 100"
                                                    },
                                                    {
                                                        "proName": "FX_IDC:EURUSD",
                                                        "title": "EUR to USD"
                                                    },
                                                    {
                                                        "proName": "BITSTAMP:BTCUSD",
                                                        "title": "Bitcoin"
                                                    },
                                                    {
                                                        "proName": "BITSTAMP:ETHUSD",
                                                        "title": "Ethereum"
                                                    },
                                                    {
                                                        "description": "Dogecoin",
                                                        "proName": "BINANCE:DOGEUSDT"
                                                    }
                                                    ],
                                                    "showSymbolLogo": true,
                                                    "colorTheme": "light",
                                                    "isTransparent": false,
                                                    "displayMode": "adaptive",
                                                    "locale": "en"
                                                }</script>
                                        </div>
                            
                                </div>

                          
                        }


                    </div>
                </nav>

                

            </div>
            @RenderBody()

        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>

    <!-- Plugin Js -->
    <script src="~/assets/bundles/dataTables.bundle.js"></script>
    <script src="~/assets/bundles/apexcharts.bundle.js"></script>

    <!-- Jquery Page Js -->
    <script src="~/js/template.js"></script>
    <script src="~/js/page/index.js"></script>

    @if (currentController.Equals("Crypto", StringComparison.OrdinalIgnoreCase) &&
        (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
    {
        <script src="~/Scripts/cryptoselect.js"></script>
    }
    @if (currentController.Equals("stock", StringComparison.OrdinalIgnoreCase) &&
        (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
    {
        <script src="~/Scripts/stockselect.js"></script>
    }
    @if (currentController.Equals("currencies", StringComparison.OrdinalIgnoreCase) &&
        (currentAction.Equals("Index", StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(currentAction)))
    {
        <script src="~/Scripts/currencies.js"></script>
    }

    


   




    @RenderSection("scripts", required: false)

</body>
</html>
