@model Forex_Update.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">User Profile</h3>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row g-3">
            <div class="col-xl-4 col-lg-5 col-md-12">
                <div class="card profile-card flex-column mb-3">
                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Profile</h6>
                    </div>
                    <div class="card-body d-flex profile-fulldeatil flex-column">
                        <div class="profile-user text-center w220 mx-auto">
                            <a href="#">
                                <img src="~/assets/images/lg/avatar1.svg" alt="" class="avatar xl rounded img-thumbnail shadow-sm">
                            </a>
                            <div class="about-info d-flex align-items-center mt-3 justify-content-center flex-column">
                                <span class="text-muted small">User ID : @ViewBag.Id</span>
                            </div>
                            <h6 class="mb-0 mt-2  fw-bold d-block fs-6 text-center">@ViewBag.FirstName @ViewBag.LastName</h6>
                        </div>
                        <div class="profile-info w-100">

                        </div>
                    </div>
                </div>

                <div class="card profile-card flex-column mb-3">
                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Change Password</h6>
                    </div>
                    <div class="card-body d-flex profile-fulldeatil flex-column">
                        <div class="profile-user text-center w220 mx-auto">

                        </div>
                        <div class="profile-info w-100">


                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()


                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label class="form-label">Current Password</label>
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-11">

                                    <div class="form-group">
                                        <label class="form-label">New Password</label>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-11">

                                    <div class="form-group">
                                        <label class="form-label">Confirm New Password</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-12 mt-4">

                                    <button type="submit" class="btn btn-primary text-uppercase px-5"> save</button>

                                </div>
                            }


                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xl-8 col-lg-7 col-md-12">
                <div class="card mb-3">
                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Profile Settings</h6>
                    </div>
                    <div class="card-body">
                        <form class="row g-4" id="editprofile">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" id="firstname" value="@ViewBag.FirstName" type="text">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" id="lastname" value="@ViewBag.LastName" type="text">
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="form-label">Mobile Number <span class="text-danger">*</span></label>
                                    <input class="form-control" id="phone" value="@ViewBag.Phone" type="text">
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <label class="form-label">Email <span class="text-danger"></span></label>
                                <div class="input-group">

                                    <input type="email" id="email" value="@ViewBag.Email" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label class="form-label">Promocode</label>
                                <div class="input-group">

                                    <input type="text" value="@ViewBag.Promocode" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="form-label">Wallet</label>
                                <div class="input-group">

                                    <input type="text" value="@ViewBag.Wallet" class="form-control" readonly>
                                </div>
                            </div>


                            <div class="col-12 mt-4">
                                <button type="submit" class="btn btn-primary text-uppercase px-5">SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toast" class="toast-container"></div>
    <div id="toast2" class="toast-container2"></div>
</div>


<script defer src="~/Scripts/editprofile.js"></script>

